<div class="sub-header-bar">
  <button class="btn  btn--utility" id="save">Save</button>
</div>
<section koboform-builder class="form-builder">
  <div class="survey-editor  form-editor-wrap">
    <ul class="-form-editor">
      <li class="survey-editor__null-top-row empty">
        <div class="card">
          <h4 class="card__header">
            <i class="fa fa-fw card__header-icon"></i>
            <span class="card__header-title"></span>
          </h4>
          <div class="row list-view hidden">
            <ul></ul>
          </div>
          <div class="row-fluid clearfix advanced-details advanced-details--depr">
            <div class="row-extras advanced-details__content advanced-details__content--depr">
              <p class="pull-left">
                <span class="fa fa-cog fa-fw row-extras__cog js-advanced-toggle"></span>
              </p>
            </div>
            <div class="row-extras-summary advanced-details__content-summary js-advanced-toggle">
              <span class="fa fa-cog fa-fw row-extras__cog-faded"></span>
              <span class="adv-details-txt">Advanced question details</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>