<div class="tags">
  <h2 class="tags__title">Tags <span class="tags__tag-count">122 tags</span></h2>
  <div class="tag-filter">
    <input class="tag-filter__searchbox" />
    <select class="tag-filter__sorter">
      <option value="newest">Newest</option>
      <option value="alpha">A - Z</option>
      <option value="alpha-empty">A - Z, Empty First</option>
      <option value="alpha-non-empty">A - Z, Empty Last</option>
    </select>
  </div>
  <a class="tag__create-new" href="">+ Add New Tag</a>
  <ul class="tags__container">
    <li class="tags__tag--selected">
      <input class="tag__editbox" value="Editing the tag" />
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Violence</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Mental Health</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Finance</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Conflicts &amp; disputes</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Land</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Domestic Violence</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Justice</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Peace</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Truth</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Exposure to War Violence</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
    <li class="tags__tag">
      <h4 class="tag__name">Combatant Status</h4>
      <span class="tag__question-count">4 questions</span>
      <i class="tag__delete-button"></i>
    </li>
  </ul>
</div>

<div class="questions">
  <h2 class="questions__title">Questions <span class="questions__question-count">122 questions</span></h2>
  <a class="question__create-new" href="">+ Add New question</a>
  <div class="question-filter">
    <div class="question-filter__filters">
      <i class="question-filter__searchbox-icon fa fa-search"></i>
      <input class="question-filter__searchbox" placeholder="Search questions" value="example of typing a very long question" />
      <select class="question-filter__sorter">
        <option value="newest">Newest</option>
        <option value="alpha">A - Z</option>
        <option value="alpha-empty">A - Z, Empty First</option>
        <option value="alpha-non-empty">A - Z, Empty Last</option>
      </select>
      <input class="question-filter__select-all-checkbox" type="checkbox" /><label class="question-filter__select-all" for="question-filter__select-all-checkbox">select all</label>
      <a class="question-filter__show-responses" href=""><i class="question-filter__show-responses-icon"></i>show responses</a>
    </div>

    <div class="question-filter__actions">
      <div class="question-filter__selected-count">1 question selected</div>
      <a class="question-filter__add-to-new" href=""><i class="question-filter__add-to-new-icon"></i>Add to new form</a>
      <a class="question-filter__add-to-block" href=""><i class="question-filter__add-to-block-icon"></i>Add to block</a>
      <a class="question-filter__delete" href=""><i class="question-filter__delete-icon"></i>Delete</a>
    </div>

  </div>
  <ul class="questions__container">
    <li class="questions__question">
      <h4 class="question__name">Currently, what is your main priority or concern?</h4>
      <span class="question__type"><i class="question__type-icon fa fa-caret-right"></i>Select Many</span><span class="question__no-tag">Not Tagged</span>
    </li>
    <li class="questions__question">
      <h4 class="question__name">If you have a dispute in your community, to whom do you take it first?</h4>
      <span class="question__type"><i class="question__type-icon fa fa-caret-right"></i>Select Many</span><span class="question__tag">Land</span><span class="question__tag">Peace</span><span class="question__tag">Justice</span>
    </li>
    <li class="questions__question--selected">
      <h4 class="question__name--selected">Why do you take it first to that person or institution</h4>
      <span class="question__type"><i class="question__type-icon fa fa-caret-right"></i>Select Many</span><span class="question__tag">Land</span><span class="question__tag">Peace</span><span class="question__tag">Justice</span>
    </li>
    <li class="questions__question">
      <h4 class="question__name">If needed, what kind of documentation do you have prove your access or interest to this land? (READ RESPONSES)</h4>
      <span class="question__type question__type--expanded"><i class="question__type-icon question__type-icon--expanded fa fa-caret-down"></i>Select Many</span><span class="question__tag">Land</span><span class="question__tag">Peace</span><span class="question__tag">Justice</span>
      <ul class="question__responses">
        <li class="question__response-option">Title deed</li>
        <li class="question__response-option">Tribal certificate</li>
        <li class="question__response-option">Rental Agreement (lease)</li>
        <li class="question__response-option">Letter or document</li>
      </ul>
    </li>
    <li class="questions__question">
      <h4 class="question__name">What type of crops does your household sell, if any?</h4>
      <span class="question__type"><i class="question__type-icon fa fa-caret-right"></i>Select Many</span><span class="question__tag">Land</span><span class="question__tag">Peace</span><span class="question__tag">Justice</span>
    </li>
    <li class="questions__question">
      <h4 class="question__name">During the war, did someone take over all or part of your house plot?</h4>
      <span class="question__type"><i class="question__type-icon fa fa-caret-right"></i>Select Many</span><span class="question__tag">Land</span><span class="question__tag">Peace</span><span class="question__tag">Justice</span>
    </li>
    <li class="questions__question">
      <h4 class="question__name">During the war, did someone take over all or part of your household farm land?</h4>
      <span class="question__type"><i class="question__type-icon fa fa-caret-right"></i>Select Many</span><span class="question__tag">Land</span><span class="question__tag">Peace</span><span class="question__tag">Justice</span>
    </li>
    <li class="questions__question">
      <h4 class="question__name">Since the end of the war in 2003, did someone take over all or part of your house plot?</h4>
      <span class="question__type"><i class="question__type-icon fa fa-caret-right"></i>Select Many</span><span class="question__tag">Land</span><span class="question__tag">Peace</span><span class="question__tag">Justice</span>
    </li>
    <li class="questions__question">
      <h4 class="question__name">What what describe your access to this land? (READ RESPONSES)</h4>
      <span class="question__type"><i class="question__type-icon fa fa-caret-right"></i>Select Many</span><span class="question__tag">Land</span><span class="question__tag">Peace</span><span class="question__tag">Justice</span>
    </li>
  </ul>
</div>