tmp/*
.~lock.*
.DS_Store
.idea
*.bak
*.pyc
*.sql
*.sqlite3
*.tar.gz
*~
*orig
*.swp
static/CACHE
CACHE
staticfiles
local_settings.py
/.ropeproject
node_modules
dkobo/koboform/templates/sandbox.html
dkobo/koboform/templates/sandbox-stub.html

.sass-cache/
jsapp/components
