tmp/*
.~lock.*
.DS_Store
.idea
*.bak
*.pyc
*.sql
*.sqlite3
*.tar.gz
*~
*orig
*.swp
static/CACHE
CACHE
staticfiles
local_settings.py
/.ropeproject
node_modules
npm-debug.log
deployments.json

dkobo/koboform/templates/sandbox.html
dkobo/koboform/templates/sandbox-stub.html

jsapp/components
**/coverage
jsapp/kobo.compiled

dkobo/static/js/*.html

.sass-cache/

.gitattributes
dkobo.pyproj
dkobo.pyproj.user
dkobo.sln
dkobo.v12.suo

dkobo/static/js/*.html
npm-debug.log
