# Custom pyxform
-e git+https://github.com/kobotoolbox/pyxform.git@6dfff060fc2ad6c575c6a7d953c381d2180e6833#egg=pyxform

Django<1.9
django-compressor
django-toolbelt
hamlpy
gunicorn
BeautifulSoup
django-registration-redux
djangorestframework
xlwt
django-extensions
manifesto
requests
django-guardian
django-markdown
django-markitup
jsonfield
django-taggit
django-reversion
raven
django-ses

# match kobocat's version of django-digest
django-digest
# django-digest depends on python-digest but does not install it automatically
python-digest

# These packages allow `requests` to support SNI
pyopenssl
ndg-httpsclient
pyasn1
