Django==1.6
django-compressor==1.4
django-toolbelt==0.0.1
hamlpy==0.82.2
South==0.8.4
gunicorn==18.0
BeautifulSoup==3.2.1
django-registration==1.0
djangorestframework==2.3.10
xlwt==0.7.5
django-extensions==1.3.3
manifesto==0.5
requests==2.3.0
django-guardian==1.1.1
django-markdown==0.6.1
django-markitup==2.2.2
jsonfield==0.9.20
django-taggit

-e git+https://github.com/kobotoolbox/pyxform.git@9fe1c13d3e94c40354aa657846c4b5ae9a4529ff#egg=pyxform-dev
# -e git+https://github.com/kobotoolbox/pyxform.git@koboform-stable#egg=pyxform-dev

# match kobocat's version of django-digest
django-digest==1.13
# django-digest depends on python-digest but does not install it automatically
python-digest==1.7
django-reversion==1.8.4
