Django==1.6
django-compressor==1.3
django-toolbelt==0.0.1
hamlpy==0.82.2
South==0.8.3
gunicorn==18.0
BeautifulSoup==3.2.1
django-registration==1.0
-e git+https://github.com/kobotoolbox/pyxform.git@7e03eec1ebfd3a532636067d37d412a7a97fd3bb#egg=pyxform-dev
djangorestframework==2.3.10
xlwt==0.7.5
