// Variable declarations

// Colors 
// ==========================================================================
$cardBorderColor: #d9dde1;
$cardInSortBorderColor: red;

$bodyBackgroundColor: #E9EDF0;
$textColor: #3f3f3f;

$wellTextColor: #7A8692;

// Borders
// ==========================================================================
$cardBorderStyle: 2px solid $cardBorderColor;
$cardInSortBorderStyle: 2px solid $cardInSortBorderColor;
$cardInSortThinBorderStyle: 1px solid $cardInSortBorderColor;


@import "stylesheets/partials/normalize";
@import "stylesheets/partials/base";

@import 'stylesheets/pages/form_builder';
@import "stylesheets/pages/question_library";

@import "stylesheets/partials/add_question_to_library";
@import "stylesheets/partials/buttons";
@import "stylesheets/partials/fileupload_btn";
@import "stylesheets/partials/content";
@import "stylesheets/partials/enketo_iframe";
@import "stylesheets/partials/fonts";
@import "stylesheets/partials/header_bar";
@import "stylesheets/partials/helpers";
@import "stylesheets/partials/icons";
@import "stylesheets/partials/info_list";
@import "stylesheets/partials/xlformbuilder_styles";
@import "stylesheets/partials/ng_modal";
@import "stylesheets/partials/registration";
@import "stylesheets/partials/sidenote";
@import "stylesheets/partials/top_level_menu";
@import "stylesheets/partials/widgets";
@import "stylesheets/partials/wells";

@import "stylesheets/partials/misc";

// import third party libs
@import '../components/select2/select2.css';
@import '../components/x-editable/dist/jquery-editable/css/jquery-editable.css';
@import '../components/fontawesome/css/font-awesome.css';
