{% extends "registration.html" %}

{% block content %}
  <form method="post" action="." class="registration">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="Log in" class="registration__action" />
      <input type="hidden" name="next" value="{{ next }}" />

      <a href="{% url 'auth_password_reset' %}" class="registration__link clear">reset password</a>
      <a href="{% url 'registration_register' %}" class="registration__link align-right">register</a>
  </form>
  <script>
  // dailyWTF

  $(function () {
    $('form.registration > p').addClass('registration__row');
    $('form.registration > p > label').addClass('registration__label');
  });
  </script>
{% endblock %}