{% extends "registration.html" %}

{% block content %}
  <form action="." method="post" class="registration  registration--register">{% csrf_token%}
    {{ form.as_p }}
    <input type="submit" value="Register" class="registration__action  btn" />
  </form>
  <script>
  // dailyWTF

  $(function () {
    $('form.registration > p').addClass('registration__row');
    $('form.registration > p > label').addClass('registration__label');
    $('form.registration > p > input').addClass('registration__input');
  });
  </script>
{% endblock %}