.row-extras__add-to-question-library {
  // TODO: consider a .cursor-pointer class
  cursor: pointer;
}

.card {
  .row-extras__add-to-question-library {
    display: none;
    position: absolute;
    right: -200px;
    width: 200px;
    top: 6px;
    height: 100%;
    opacity: .6;
    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    .row-extras__add-to-question-library {
      display: inline-block;
    }
  }
}
