/* ==========================================================================
   Main
   ========================================================================== */

.main {
    margin-top: 40px;
    transition: padding-left 150ms;
}

/* ==========================================================================
   Content
   ========================================================================== */

.container {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.content--centered {
    text-align: center;
}

.content__message {
    width: 300px;
    padding-top: 150px;
    display: inline-block;
}

.content__message-text {
    color: #cdcdcd;
}

.content__message-action {}
