/* ==========================================================================
   Main
   ========================================================================== */

.main {
    transition: padding-left 150ms;
    height: 100%;
}

.main > section.content {
    height: 100%;
    padding-top:40px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.container {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    &.empty {
      text-align: center;
      background: white;
      padding: 20px;
    }
}

// Legacy
.content--centered {
  text-align: center;
}