// ==========================================================================
// Fileupload Button fix
// ==========================================================================

.btn--fileupload {
    /* form */
    margin-top: -1px;
    overflow: hidden;
}

.btn--fileupload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
