/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
    font-family: 'LatoBlack';
    src: url('/static/css/Lato-Black.eot');
    src: url('/static/css/Lato-Black.eot?#iefix') format('embedded-opentype'),
         url('/static/css/Lato-Black.woff') format('woff'),
         url('/static/css/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoBold';
    src: url('/static/css/Lato-Bold.eot');
    src: url('/static/css/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('/static/css/Lato-Bold.woff') format('woff'),
         url('/static/css/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

body {
  font-family: 'Lato', 'sans-serif';
}

