/* ==========================================================================
   Header bar
   ========================================================================== */

.header-bar {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    line-height: 40px;
    background-color: #3F3F3F;
    transition: width 150ms, left 150ms;
    .header-bar__title {
        margin-top: 0;
        margin-right: 10px;
        margin-bottom: 0;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Lato';
        .header-bar__title-text { color: white; }
    }

    .btn {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: #3f3f3f;
        &:hover, &:focus { background-color: #4d4d4d; }
    }

    .header-bar__top-logo {
        background: url(/static/kobo/images/kobologo.svg);
        background-size: 120px 27px;
        background-repeat: none;
        width: 120px;
        height: 27px;
        margin-top: 5px;
        margin-right: 6px;
    }
}


// ==========================================================================
// Sub header bar
// ==========================================================================

.sub-header-bar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #E3E8EC;
    padding: 5px 4px;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 5;
    background-color: #FFF;
    transition: width 150ms, left 150ms;

    > .btn {
        height: 30px;
        margin-right: 1px;
        margin-left: 1px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        line-height: 30px;
        border:none;
        font-family: 'Lato';
        font-weight: 600;
        vertical-align: middle;
        i {
            font-size: 15px;
            line-height: 30px;
            margin-right: 5px;
            &.green {
                color: #2EB662;
            }
        }
    }
}

/* ==========================================================================
   Top level menu
   ========================================================================== */

.top-level-menu {
    width: 230px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -230px;
    background-color: #444;
    transition: left 150ms;
}

.top-level-menu.is-active {
    left: 0;
}

.top-level-menu.is-active ~ .main {
    padding-left: 230px;
}

.top-level-menu.is-active ~ .main .header-bar,
.top-level-menu.is-active ~ .main .sub-header-bar {
    width: unquote("-webkit-calc(100% - 230px)");
    width: unquote("-moz-calc(100% - 230px)");
    width: calc(100% - 230px);
    left: 230px;
}

.top-level-menu.is-active ~ .main .header-bar__top-level-menu-button > .fa {
    color: #1daee3;
}

/* Top level menu user item
   -------------------------------------------------------------------------- */

.top-level-menu__item--user {
    margin-bottom: 10px;
    border-bottom: 1px solid #727272;
    background-color: black;
}

.top-level-menu__item--user-avatar,
.top-level-menu__item--user-name {
    display: inline-block;
}

.top-level-menu__item--user-avatar {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: top;
}

.top-level-menu__item--user-name {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    font-size: 14px;
    color: white;
    font-family: 'Lato';
}



/* Top level menu items
   -------------------------------------------------------------------------- */

.top-level-menu__item > a {
    height: 40px;
    padding-right: 12px;
    padding-left: 12px;
    display: block;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.top-level-menu__item > a:hover,
.top-level-menu__item > a:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-level-menu__item.is-active > a {
    color: white;
    background-color: black;
}