// ==========================================================================
// Icons
// ==========================================================================

.header-bar__top-level-menu-button {
    display: inline-block;
    vertical-align: top;
}

.header-bar__top-level-menu-button > .fa {
    padding: 12px 11px;
    cursor: pointer;
    color: rgba(29, 174, 227, 0.8);
}

.header-bar__top-level-menu-button:hover > .fa,
.header-bar__top-level-menu-button:focus > .fa  {
    color: #1daee3;
}

.icon--teal {
    color: #1aaa9e;
}

.icon--blue {
    color: #1daee3;
}

.icon--dark-blue {
    color: #1073b9;
}

.icon--purple {
    color: #65318f;
}

.icon--orange {
    color: #f59231;
}

.icon--brown {
    color: #c59c70;
}

.icon--green {
    color: #40b34f;
}

.btn:hover .icon--blue,
.btn:focus .icon--blue {
    color: #179dd0;
}

.btn--create-new-form {
    padding-right: 20px;
    padding-left: 20px;
}
