// ==========================================================================
// Wells
// ==========================================================================

.well {
  border: $cardBorderStyle;
  padding: 20px;
  background: #FFF;
  color: $wellTextColor;
  font-family: 'LatoBlack';
  font-style: italic;
  font-size: 13px;
  a {
    font-family: 'Lato';
    font-style: normal;
    text-decoration: underline;
  }
}