// ==========================================================================
// Wells
// ==========================================================================

.well {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 14px;
    background-color: #eee;
}


