// ==========================================================================
// Form builder
// ==========================================================================

.form-builder {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}


// ==========================================================================
// Sub header bar
// ==========================================================================

.sub-header-bar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 4px;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 1;
    background-color: #f4f4f4;
    transition: width 150ms, left 150ms;

    & > .btn {
        height: 30px;
        margin-right: 1px;
        margin-left: 1px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        line-height: 30px;
    }
}




// ==========================================================================
// Survey header
// ==========================================================================

.survey-header {
    margin-bottom: 40px;
}

    .survey-header__title,
    .survey-header__hashtag {
        margin-top: 0;
    }

    .survey-header__title .editable-buttons > button {
        font-size: 14px;
    }

    .survey-header__hashtag {
        font-size: 14px;
        color: #aaa;
    }

    .survey-header__options-toggle {
        position: relative;
        top: -2px;
        font-size: 24px;
        cursor: pointer;
        color: #bbb;

        &:hover,
        &:focus {
            color: #777;
        }
    }

    .survey-header__options {
        margin-top: 10px;
        margin-bottom: 10px;
        display: none;
    }

    .survey-header__option {
        margin-right: 20px;
        display: inline-block;
        font-size: 13px;
    }

    .survey-header__options-table-title {
        margin-top: 0;
    }

    .survey-header__options-table {
        margin-bottom: 50px;
        font-size: 13px;

        tr {
            height: 65px;
        }

        tr:nth-of-type(2n) {
            background-color: rgba(255, 255, 255, 0.5);
        }

        td {
            padding-right: 10px;
            padding-left: 10px;
        }

        td:first-child {
            width: 140px;
        }

        td:nth-child(2) {
            width: 200px;
        }

        .editable-buttons {
            display: none;
        }
    }






// ==========================================================================
// Survey editor
// ==========================================================================

.survey-editor {
  padding-bottom: 36px;
}
    .survey-editor__null-top-row {
        position: relative;

        &.expanded {
            .survey-editor__message {
                display: none;
            }
        }
        &.hidden {
            display: none;
        }
    }
    .survey-editor__message {
        text-align: center;
        color: #888;
    }





// ==========================================================================
// Menu row and item
// ==========================================================================

.menu-title {
}

.menu-row {
    width: 25%;
    padding-right: 1px;
    float: left;
}


.menu-item {
    margin-bottom: 1px;
    padding: 10px 5px;
    background: $bodyBackgroundColor;
    font-size: 11px;
    font-family: 'LatoBlack';
    border:2px solid $bodyBackgroundColor; 
    cursor: pointer;
    color:#35495D;
    i {
        margin-right: 10px;
        font-size: 16px;
        &.fa.invert {
            background-color: #35495D;
            color: white;
            border-radius: 4px;
            padding:3px;
            font-size: 1em;
            margin-left: 2px;
            margin-right: 13px;
        }
    }
    &:hover {
        border-color: $cardInSortBorderColor;
        color: $cardInSortBorderColor;
        i.fa.invert {
            background-color: $cardInSortBorderColor;
        }
    }
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #C5CACF;
    color: white;
    border: 0 none;
    border-radius: 3px;
    font-family: 'LatoBlack';
    padding:1px 3px;
    line-height: 1em;

    &:hover,
    &:focus {
        background-color: darken(#C5CACF, 20%);
    }
}

.delete-row {
    position: absolute;
    right: 5px;
    top: 5px;
}

// ==========================================================================
// Editable forms
// ==========================================================================

.editable-container {
    vertical-align: top;
    .editable-input input {
        font-family: 'LatoBlack';
        border-radius: 0px;
        border:none;
        padding: 0px !important;
        font-size: 12px;
        width: 100%;
        display: inline-block;
        margin:0px;
        height: auto;
        background-color: transparent;
    }
    .editable-buttons {
        position: absolute;
        top:-20px;
        right:0px;
        font-size: 10px;
    }
}

.card__text {
    .editable-container {
        width: 100%;
    }
}

h1 {
    .editable-container {
        width: 90%; // TEMPORARY
        display: inline-block;
        .editable-input input {
            font-size: 32px;
        }
    }
}

// ==========================================================================
// Single/multiple select questions
// ==========================================================================

.xlf-option-view {
    margin-bottom: 10px;
    cursor: move;
    position: relative;
    div.editable-wrapper {
        font-family: 'LatoBlack';
        border-radius: 5px;
        border:$thinBorderStyle;
        padding: 5px;
        font-size: 12px;
        display: inline-block;
        width: 74%;
        vertical-align: top;
        height: auto;
        position: relative;
        min-height: 18px;
        .editable-input input {
            line-height: 1em;
        }
    }
    code {
        font-family: 'LatoBlack';
        text-transform: uppercase;
        font-size: 10px;
        background-color: #E3E7EC;
        padding:5px;
        width: 23%;
        text-align: left;
        display: inline-block;
        margin-left: 2%;
        overflow: hidden;
        label {
            width: 32%;
        }
        span, .editable-container {
            display: inline-block;
            float: right;
            width: 66%;
            color: $linkColor;
            text-align: right;
        }
        .editable-buttons {
            display: none; // TEMPORARY
        }
        .editable-container .editable-input input {
            text-align: right;
            display: inline-block;
            float: right;
            color: $linkColor;
            line-height: 1em;
            text-transform: uppercase;
            font-size: 10px;
            margin-top: 3px;
        }
    }
    i.fa-trash-o {
        position: absolute;
        left:-24px;
        top:8px;
        color: #D08B8C;
    }
}

.option-placeholder {
    height: 41px;
    margin-bottom: 10px;
    border: 2px dashed #ccc;
    border-radius: 4px;
}


// Quick fixes for KF-96. (Consider chainging HTML and CSS for BEM)

.xlf-row-view {
  position: relative;
  &:first-child {
    margin-top: 0;
  }
}

.placeholder {
    height: 100px;
    margin-bottom: 10px;
    border: 2px dashed #ccc;
    border-radius: 4px;
}

.row-type-col {
  float: left;
  width: 20%;
}
.row-content {
  float: left;
  width: 75%;
  blockquote {
    margin: 0;
    line-height: 1em;
  }
}



// ==========================================================================
// Edit buttons
// ==========================================================================

.editable-buttons button,
.advanced-details button {
    height: 28px;
    margin: 3px 0;
    border: 1px solid;
    border-radius: 4px;
    padding: 0 10px;
    -webkit-appearance: none;
    text-transform: capitalize;
    color: #333;
    background-color: #f8f8f8;

    &:hover,
    &:focus {
        background-color: #f0f0f0;
    }
}




// ==========================================================================
// Advanced details
// ==========================================================================

.xlf-dv-name,
.xlf-dv-hint {
    text-transform: capitalize;
}

.xlf-dv-name > code,
.xlf-dv-hint > code {
    text-transform: none;
}






// ==========================================================================
// Skip logic
// ==========================================================================

.skiplogic__criterion {
  // @extend .well;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 14px;
  position: relative;
  background-color: #eee;

  &.skiplogic__criterion--unspecified-question {
    .skiplogic__expressionselect {
      display: none;
    }
    .skiplogic__rowselect {
      width: 100%;
    }
  }
}

button.skiplogic__deletecriterion {
    height: auto;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    right: 7px;
    opacity: 0.6;
    -webkit-appearance: none;
    text-transform: none;
    color: #333;
    background-color: transparent;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.skiplogic__responseval {
    margin-top: 10px;
    margin-bottom: 10px;
}
