/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

/* ==========================================================================
   Base
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

input[type="text"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
}

select {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
}

select:after {
    content: "yolo";
}

a {
    text-decoration: none;
    color: #1daee3;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

:focus {
    outline: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ==========================================================================
   iframe wrapper
   ========================================================================== */

.iframe-bg-shade {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(168, 159, 159, 0.5);
}

.iframe-bg-shade iframe {
  width: 800px;
  margin-left: -400px;
  position: absolute;
  top: 5%;
  left: 50%;
  height: 90%;
  background-color: rgba(240, 240, 240, 0.7);
}


/* ==========================================================================
   Top level menu
   ========================================================================== */

.top-level-menu {
    width: 230px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -230px;
    background-color: #444;
    transition: left 150ms;
}

.top-level-menu.is-active {
    left: 0;
}

.top-level-menu.is-active ~ .main {
    padding-left: 230px;
}

.top-level-menu.is-active ~ .main .header-bar,
.top-level-menu.is-active ~ .main .sub-header-bar {
    width: -webkit-calc(100% - 230px);
    width: -moz-calc(100% - 230px);
    width: calc(100% - 230px);
    left: 230px;
}

.top-level-menu.is-active ~ .main .header-bar__top-level-menu-button > .fa {
    color: #1daee3;
}



/* Top level menu user item
   -------------------------------------------------------------------------- */

.top-level-menu__item--user {
    margin-bottom: 10px;
    border-bottom: 1px solid #727272;
    background-color: black;
}

.top-level-menu__item--user-avatar,
.top-level-menu__item--user-name {
    display: inline-block;
}

.top-level-menu__item--user-avatar {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: top;
}

.top-level-menu__item--user-name {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    font-size: 14px;
    color: white;
}



/* Top level menu items
   -------------------------------------------------------------------------- */

.top-level-menu__item > a {
    height: 40px;
    padding-right: 12px;
    padding-left: 12px;
    display: block;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.top-level-menu__item > a:hover,
.top-level-menu__item > a:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-level-menu__item.is-active > a {
    color: white;
    background-color: black;
}






/* ==========================================================================
   Main
   ========================================================================== */

.main {
    margin-top: 40px;
    transition: padding-left 150ms;
}






/* ==========================================================================
   Content
   ========================================================================== */

.content {
    padding: 20px;
}

.content > .content {
    padding: 0;
}

.content--centered {
    text-align: center;
}

.content__message {
    width: 300px;
    padding-top: 150px;
    display: inline-block;
}

.content__message-text {
    color: #cdcdcd;
}

.content__message-action {

}






/* ==========================================================================
   Or
   ========================================================================== */

.or {
    width: 30px;
    height: 30px;
    margin: -36px auto 0;
    border-bottom: 1px solid;
    border-radius: 5em;
    position: relative;
    top: 65px;
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #666;
}

.or + hr {
    margin-top: 50px;
    margin-bottom: 40px;
}






/* ==========================================================================
   Choose template
   ========================================================================== */

.choose-template {
    margin-top: 40px;
}

/* ==========================================================================
   Form Builder
   ========================================================================== */

.expanding-spacer-between-rows {
    margin-top: 20px;
}


/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
    margin-bottom: 0;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 4px;
    color: white;
    background-color: #1daee3;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
}

.btn:hover,
.btn:focus {
    background-color: #179dd0;
    text-decoration: none;
}

.btn:active,
.btn.is-active {
    outline: 0;
    background-image: none;
    box-shadow: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
}

.btn--l {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn--s,
.btn--xs {
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 3px;
}

.btn--xs {
    padding: 1px 5px;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--block + .btn--block {
    margin-top: 5px;
}

input[type="submit"].btn--block,
input[type="reset"].btn--block,
input[type="button"].btn--block {
    width: 100%;
}

.btn--utility {
    border: 1px solid #ddd;
    color: #222;
    background-color: transparent;
}

.btn--utility:hover,
.btn--utility:focus {
    border-color: #999;
    background-color: #e2e2e2;
}






/* ==========================================================================
   Wells
   ========================================================================== */

.well {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 14px;
    background-color: #eee;
}






/* ==========================================================================
   Editable
   ========================================================================== */

.editable {
    cursor: pointer;
}






/* ==========================================================================
   Header bar
   ========================================================================== */

.header-bar {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    line-height: 40px;
    background-color: #666;
    transition: width 150ms, left 150ms;
}

.header-bar__page-icon {
    left: 1px;
    top: -2px;
}

.header-bar__title {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 17px;
}

.header-bar__title-text {
    color: white;
}

.header-bar .btn {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #3f3f3f;
}

.header-bar .btn:hover,
.header-bar .btn:focus {
    background-color: #4d4d4d;
}

.btn--fileupload {
    /* form */
    margin-top: -1px;
    overflow: hidden;
}

.btn--fileupload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}







/* ==========================================================================
   Icons
   ========================================================================== */

.header-bar__top-level-menu-button {
    display: inline-block;
    vertical-align: top;
}

.header-bar__top-level-menu-button > .fa {
    padding: 12px 11px;
    cursor: pointer;
    color: rgba(29, 174, 227, 0.8);
}

.header-bar__top-level-menu-button:hover > .fa,
.header-bar__top-level-menu-button:focus > .fa  {
    color: #1daee3;
}

.icon--teal {
    color: #1aaa9e;
}

.icon--blue {
    color: #1daee3;
}

.icon--dark-blue {
    color: #1073b9;
}

.icon--purple {
    color: #65318f;
}

.icon--orange {
    color: #f59231;
}

.icon--brown {
    color: #c59c70;
}

.icon--green {
    color: #40b34f;
}

.btn:hover .icon--blue,
.btn:focus .icon--blue {
    color: #179dd0;
}

.btn--create-new-form {
    padding-right: 20px;
    padding-left: 20px;
}






/* ==========================================================================
   Registration Forms
   ========================================================================== */

.registration {
    max-width: 440px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.registration__row {
    margin-top: 0;
    margin-bottom: 12px;
}

.registration__row:last-of-type {
    margin-bottom: 35px;
}

.registration__label,
.registration__input {
    width: 100%;
    display: block;
}

.registration__label {
    margin-bottom: 4px;
    font-size: 14px;
}

.registration__input {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 0.5em;
}

.registration__input:focus {
    border-color: #1daee3;
}

.registration--login .registration__action {
    margin-bottom: 35px;
}

.registration__footer {
    border-top: 1px solid #eee;
    padding-top: 30px;
}

.registration__footer-link {
    display: inline-block;
    font-size: 14px;
}

.registration__footer-link:hover,
.registration__footer-link:focus {
    text-decoration: underline;
}

.registration__footer-link--last {
    float: right;
}

.registration .errorlist { /* Rename this class with BEM */
    margin-bottom: 12px;
    border: 1px solid;
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    color: red;
    background-color: rgba(255, 0, 0, 0.075);
}






/* ==========================================================================
   Filters
   ========================================================================== */

.filters {
    margin-bottom: 20px;
}

.filters__filter {
    margin-right: 10px;
}


/* ==========================================================================
   Info list
   ========================================================================== */

.info-list__date, .info-list__links {
    width: 200px;
}
.info-list td {
    border-bottom: 1px solid #e9ecee;
    text-align: left;
}
.info-list tr:hover td {
    background-color: #f3f5f6;
}
.info-list a {
    color: #333333;
    display: block;
}
.info-list .info-list__links a {
    width: 40px;
    display: inline-block;
    margin-right: 6px;
}

/* ==========================================================================
   Tags
   ========================================================================== */

.loader {
    color: white;
    background-color: #1daee3;
    display: inline-block;
    padding: 0 10px;
}

/* ==========================================================================
   Tags
   ========================================================================== */

.tag {
    height: 25px;
    margin-right: 10px;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    color: white;
    background-color: #fd8a25;
}

/* ==========================================================================
   Question Library - tags
   ========================================================================== */

.tags {
    display: none;
}

.tags__title {

}

.tag-filter {

}

.tag-filter__searchbox {

}

.tag-filter__sorter {

}

.tag__create-new {

}

.tags__container {

}

.tags__tag {

}

.tags__tag--selected {

}

.tag__name {

}

.tag__question--count {

}

.tag__delete-button {

}

/* ==========================================================================
   Question Library - questions
   ========================================================================== */

.questions {
    width: 960px;
    margin-top: 19px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.questions__header {
    position: fixed;
    top: 64px;
}

.questions__title {
    font-size: 19px;
    font-family: Lato;
    color: #3f3f3f;
    position: absolute;
    top: 0px;
}

.questions__question-count {
    font-size: 12px;
    color: gray;
    margin-left: 7px;
}

.question__create-new {
    width: 170px;
    height: 36px;
    background-color: #38a1f1;
    border-bottom: 2px solid #1c73b5;
    display: inline-block;
    position: absolute;
    right: 0px;
    color: white;
    font-size: 13px;
    text-align: center;
    padding-top: 8px;
}

.question-filter {
    position: absolute;
    top: 64px;
    height: 93px;
    background-color: #e3e8ec;
    width: 100%;
    padding-top: 12px;
    padding-left: 10px;
    border-bottom: 2px solid #cbd0d7;
    display: inline-block;
}
.question-filter--short {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: #e3e8ec;
    padding: 10px 12px;
    border-bottom: 2px solid #cbd0d7;
}
.question-filter__close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 24px;
}

.question-filter__filters {
    float: left;
    position: relative;
}

.question-filter__searchbox-icon {
    font-size: 11px;
    color: #38a1f1;
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 10px;
    background-color: white;
    height: 34px;

    border-bottom: 2px solid #cbd0d7;
    position: absolute;
    top:0px;
}

.question-filter__searchbox {
    height: 34px;
    width: 211px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #cbd0d7;
    position: absolute;
    left: 37px;

}

.question-filter__sorter {
    left: 255px;
    position: absolute;
    width: 180px;
}

.question-filter__select-all {
    width: 200px;
    position: absolute;
    left: 0px;
    top: 46px;
}

.question-filter__select-all-checkbox {
}

.question-filter__show-responses {
    width: 200px;
    position: absolute;
    left: 255px;
    top: 46px;
}

.question-filter__show-responses-icon {

}

.question-filter__actions {
    float: right;
    font-size: 11px;
    margin-right: 52px;
}

.question-filter__selected-count {
    font-size: 12px;
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
}

.question-filter__add-to-new {
    display: block;
}

.question-filter__add-to-block {
    display: block;
}

.question-filter__delete {
    display: block;
}

.question-filter__add-to-new-icon {

}

.question-filter__add-to-block-icon {

}

.question-filter__delete-icon {

}

.questions__container {
    position: absolute;
    top: 169px;
    width: 100%;
}
.questions__container--scrolling {
    height: 318px;
    padding-top: 50px;
    overflow: auto;
}

.questions__question {
    min-height: 66px;
    width: 100%;
    border-top: 2px solid #d9dde1;
    position: relative;
}

.questions__question:last-child {
    border-bottom: 2px solid #d9dde1;
    margin-bottom: 18px;
}

.questions__question--selected {
    border: 2px solid #38a1f1;
    background-color: #dbeefc;
}

.questions__question .question__edit-link {
    opacity: 0;
    position: absolute;
    padding: 10px;
    top: 0px;
    right: 0px;
}

.questions__question:hover .question__edit-link {
    opacity: 0.6;
    color: gray;
}

.questions__question .question__edit-link:hover {
    opacity: 1;
    color: #1daee3;
}

.question__name {
    font-family: Lato;
    font-size: 13px;
    color: #3f3f3f;
    margin-top: 22px;
    border-bottom: 1px solid #e9ecee;
    padding-bottom: 9px;
    padding-left: 1em;
    margin-bottom: 0;
}

.question__name--selected {
    margin-left: 10px;
}

.question__type {
    display: inline-block;
    min-width: 92px;
    border-right: 2px solid #e9ecee;
    font-family: Lato;
    color: #3f454c;
    font-size: 10px;
    margin-left: 3px;
    padding: 7px 2px 2px 20px;
}

.question__type-icon {
    height: 8px;
    width: 8px;
    color: #d9dde1;
    margin-left: -12px;
}

.question__type--expanded {
    background-color: #dbeefc;
    color: #38a1f1;
}

.question__type--expanded-icon {
    color: #38a1f1;
}

.question__tag {
    height: 22px;
    min-width: 107px;
    font-family: Lato;
    color: #3f454c;
    font-size: 10px;
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 7px;
}

.question__no-tag {
    height: 22px;
    min-width: 107px;
    font-family: Lato;
    color: #3f454c;
    font-size: 10px;
    margin-left: 7px;
    padding-top: 7px;
}

.question__responses {
    padding-left: 30px
}

.question__response-option {
    margin: 5px 0;
    color: #3f454c;
    font-size: 10px;
}

.koboform__questionlibrary {
    position: fixed;
    top: 92px;
    left: 10%;
    width: 80%;
    height: 320px;
    border: 1px solid #cbd0d7;
    background-color: #fff;
    overflow: hidden;
}


/* ==========================================================================
   Pulls
   ========================================================================== */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}






/* ==========================================================================
   Helpers
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.row-extras__cog-faded, .row-extras__add-to-question-library {
    cursor: pointer;
}

.card .row-extras__add-to-question-library {
    display: none;
    position: absolute;
    right: -200px;
    width: 200px;
    top: 6px;
    height: 100%;
    opacity: .6;
}

.card:hover .row-extras__add-to-question-library {
    display: inline-block;
}

.row-extras__add-to-question-library:hover {
    opacity: 1;
}



/* ==========================================================================
   Media queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {}


