/* ==========================================================================
   Base
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #1daee3;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

:focus {
    outline: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}






/* ==========================================================================
   Top level menu
   ========================================================================== */

.top-level-menu {
    width: 230px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -230px;
    background-color: #444;
    transition: left 300ms;
}

.top-level-menu.is-active {
    left: 0;
}

.top-level-menu.is-active ~ .main {
    padding-left: 230px;
}

.top-level-menu.is-active ~ .main .header-bar,
.top-level-menu.is-active ~ .main .sub-header-bar {
    left: 230px;
}

.top-level-menu.is-active ~ .main .header-bar__top-level-menu-button > .fa {
    color: #1daee3;
}



/* Top level menu user item
   -------------------------------------------------------------------------- */

.top-level-menu__item--user {
    margin-bottom: 10px;
    border-bottom: 1px solid #727272;
    background-color: black;
}

.top-level-menu__item--user-avatar,
.top-level-menu__item--user-name {
    display: inline-block;
}

.top-level-menu__item--user-avatar {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: top;
}

.top-level-menu__item--user-name {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    font-size: 14px;
    color: white;
}



/* Top level menu items
   -------------------------------------------------------------------------- */

.top-level-menu__item > a {
    height: 40px;
    padding-right: 12px;
    padding-left: 12px;
    display: block;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.top-level-menu__item > a:hover,
.top-level-menu__item > a:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-level-menu__item.is-active > a {
    color: white;
    background-color: black;
}






/* ==========================================================================
   Main
   ========================================================================== */

.main {
    margin-top: 60px;
    transition: padding-left 300ms;
}






/* ==========================================================================
   Content
   ========================================================================== */

.content {
    padding: 20px;
}

.content > .content {
    padding: 0;
}

.content--centered {
    text-align: center;
}

.content__message {
    width: 300px;
    padding-top: 150px;
    display: inline-block;
}

.content__message-text {
    color: #cdcdcd;
}

.content__message-action {

}






/* ==========================================================================
   Or
   ========================================================================== */

.or {
    width: 30px;
    height: 30px;
    margin: -16px auto 0;
    border-bottom: 1px solid;
    border-radius: 5em;
    position: relative;
    top: 32px;
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #666;
}






/* ==========================================================================
   Choose template
   ========================================================================== */

.choose-template {
    margin-top: 40px;
}






/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
    margin-bottom: 0;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 4px;
    color: white;
    background-color: #1daee3;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
}

.btn:hover,
.btn:focus {
    background-color: #179dd0;
    text-decoration: none;
}

.btn:active,
.btn.is-active {
    outline: 0;
    background-image: none;
    box-shadow: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
}

.btn--l {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn--s,
.btn--xs {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 3px;
}

.btn--xs {
    padding: 1px 5px;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--block + .btn--block {
    margin-top: 5px;
}

input[type="submit"].btn--block,
input[type="reset"].btn--block,
input[type="button"].btn--block {
    width: 100%;
}

.btn--start-from-scratch {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn--utility {
    border: 1px solid #ddd;
    color: #222;
    background-color: transparent;
}

.btn--utility:hover,
.btn--utility:focus {
    background-color: #e2e2e2;
}






/* ==========================================================================
   Wells
   ========================================================================== */

.well {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 14px;
    background-color: #eee;
}






/* ==========================================================================
   Editable
   ========================================================================== */

.editable {
    cursor: pointer;
}






/* ==========================================================================
   Header bar
   ========================================================================== */

.header-bar {
    width: 100%;
    height: 60px;
    padding-right: 10px;
    padding-left: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    line-height: 60px;
    background-color: #666;
    transition: left 300ms;
}

.header-bar__page-icon-stack {
    margin-right: 10px;
    left: 1px;
    top: -1px;
}

.header-bar__title {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 17px;
    color: white;
}

.btn--header-create-new {
    margin: 15px 5px;
}






/* ==========================================================================
   Icons
   ========================================================================== */

.header-bar__top-level-menu-button > .fa {
    margin-right: 5px;
    padding: 15px;
    cursor: pointer;
    color: rgba(29, 174, 227, 0.8);
}

.header-bar__top-level-menu-button:hover > .fa,
.header-bar__top-level-menu-button:focus > .fa  {
    color: #1daee3;
}

.icon--teal {
    color: #1aaa9e;
}

.icon--blue {
    color: #1daee3;
}

.icon--dark-blue {
    color: #1073b9;
}

.icon--purple {
    color: #65318f;
}

.icon--orange {
    color: #f59231;
}

.icon--brown {
    color: #c59c70;
}

.icon--green {
    color: #40b34f;
}

.btn:hover .icon--blue,
.btn:focus .icon--blue {
    color: #179dd0;
}

.btn--create-new-form {
    padding-right: 20px;
    padding-left: 20px;
}






/* ==========================================================================
   Filters
   ========================================================================== */

.filters {
    margin-bottom: 20px;
}

.filters__filter {
    margin-right: 10px;
}






/* ==========================================================================
   Info list
   ========================================================================== */

.info-list__item {
    padding: 15px 5px;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

.info-list__item:hover,
.info-list__item:focus,
.info-list__item.is-selected {
    background-color: #f7fad4;
}

.info-list__item:first-child {
    border-top: 0;
}

.info-list-item__checkbox,
.info-list-item__icon,
.info-list-item__details {
    margin-right: 15px;
}

.info-list-item__details {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.info-list-item__title,
.info-list-item__info {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info-list-item__title {
    font-size: 16px;
    color: #444;
}

.info-list-item__info {
    font-size: 13px;
    color: #bbb;
}

.info-list-item__tags {
    display: inline-block;
}






/* ==========================================================================
   Tags
   ========================================================================== */

.tag {
    height: 25px;
    margin-right: 10px;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    color: white;
    background-color: #fd8a25;
}






/* ==========================================================================
   Pulls
   ========================================================================== */

.pull-left {
    float: right;
}

.pull-right {
    float: right;
}






/* ==========================================================================
   Helpers
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}






/* ==========================================================================
   Media queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {}
