// ==========================================================================
   $module: "form-builder";
// ==========================================================================

.form-builder {
    max-width: 640px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}






// ==========================================================================
   $module: "sub-header-bar";
// ==========================================================================

.#{$module} {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 5px;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1;
    background-color: #f4f4f4;
    transition: left 300ms;

    & > .btn {
        margin-right: 5px;
        margin-left: 5px;
    }
}






// ==========================================================================
   $module: "survey-header";
// ==========================================================================

.#{$module} {
    margin-bottom: 40px;
}

    .#{$module}__title,
    .#{$module}__hashtag {
        margin-top: 0;
    }

    .#{$module}__hashtag {
        font-size: 14px;
        color: #aaa;
    }

    .#{$module}__options {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .#{$module}__option {
        margin-right: 20px;
        display: inline-block;
        font-size: 13px;
    }






// ==========================================================================
   $module: "survey-editor";
// ==========================================================================

.#{$module} {}

    .#{$module}__message {
        text-align: center;
        color: #888;
    }






// ==========================================================================
   $module: "menu-row";
// ==========================================================================

.#{$module} {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    &:last-child {
        border-bottom: 0;
    }
}






// ==========================================================================
   $module: "menu-item";
// ==========================================================================

.#{$module} {
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px 11px;
    display: inline-block;
    cursor: pointer;
    background: white;

    &:hover {
        border-color: #bbb;
        background-color: #f8f8f8;
    }

    &:before {
        content: "";
        width: 1.2857142857142858em;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #1daee3;
    }
}
.glyphicon.glyphicon-cog {
    &:after {
        content: "[Advanced options]";
    }
}

.#{$module}--geopoint:before {content: "\f041"; }
.#{$module}--image:before {content: "\f030"; }
.#{$module}--audio:before {content: "\f025"; }
.#{$module}--video:before {content: "\f03d"; }
.#{$module}--barcode:before {content: "\f02a"; }
.#{$module}--date:before {content: "\f073"; }
.#{$module}--datetime:before {content: "\f133"; }
.#{$module}--text:before {content: "\f15c"; }
.#{$module}--integer:before {content: "\f033"; }
.#{$module}--decimal:before {content: "\f0d6"; }
.#{$module}--note:before {content: "\f0c5"; }
.#{$module}--select_one:before {content: "\f0ca"; }
.#{$module}--select_multiple:before {content: "\f022"; }



.xlf-row-view {
    position: relative;
}
.delete-row {
    position: absolute;
    right: 5px;
    top: 5px;
}




// .formbuilder-wrap {
//   h1 {
//     color: rgba(0, 0, 0, .3);
//     font-weight: bold;
//     font-size: 26px;
//     letter-spacing: -1px;
//     text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
//     margin: 0;
//   }
//   h1.title {
//     font-family: "Roboto", sans-serif;

//     .display-title {
//       color: #444;
//     }
//     .hashtag {
//       font-size: 15px;
//       color: #aaa;
//     }
//   }
//   h2.display-description {
//     color: rgba(0, 0, 0, .3);
//     font-weight: bold;
//     font-size: 26px;
//     letter-spacing: -1px;
//     text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
//     margin: 0;
//   }
//   .like-code {
//     font-family: "Courier New", monospace;
//   }
// }

// blockquote {
//   font-size: 18px;
//   font-weight: 600;
//   color: #666;
// }
// .option-placeholder {
//   background-image: url('/static/xlform-builder/source/images/construction_paper.png');
// }
// .placeholder {
//   height: 110px;
//   background-image: url('/static/xlform-builder/source/images/construction_paper.png');
// }
// #additional-options {

// }
// .survey-detail {
//   float: left;
//   padding: 4px 12px 4px 0;
// }

// button.xlfrow-cog {
//   float: right;
//   font-size: 21px;
//   font-weight: bold;
//   line-height: 1;
//   margin: -6px -9px 0 0;
//   color: #000000;
//   text-shadow: 0 1px 0 #ffffff;
//   opacity: 0.2;
//   filter: alpha(opacity=20);
//   &.active {
//     opacity: 0.5;
//     filter: alpha(opacity=50);
//   }
//   &:hover, &:focus {
//     color: #000000;
//     text-decoration: none;
//     cursor: pointer;
//     opacity: 0.5;
//     filter: alpha(opacity=50);
//   }
//   padding: 0;
//   cursor: pointer;
//   background: transparent;
//   border: 0;
//   -webkit-appearance: none;
// }
// .row-extras {
//   border: 1px dotted #ddd;
//   border-radius: 6px;
//   background-color: #f8f8f8;
//   .dt-view {
//     margin-left: 24px;
//   }
// }
// .row-extras-summary {
//   color: #aaa;
//   font-style: italic;
//   border-radius: 6px;
//   border: 1px dotted transparent;
//   &:hover {
//     background-color: #fafafa;
//     border-color: #ddd;
//   }
// }

// .cf {
//   // http://nicolasgallagher.com/micro-clearfix-hack/
//   *zoom: 1;
//   &:before, &:after {
//     content: " ";
//     display: table;
//   }
//   &:after {
//     clear: both;
//   }
// }
// .row-type-col {
//   width: 4.1666%;
//   float: left;
// }
// .form-editor-wrap {
//   color: rgb(50, 53, 70);
//   label {
//     color: rgb(50, 53, 70)
//   }

//   ul.-form-editor {
//     font-family: 'Open Sans', sans-serif;
//     margin: 0px;
//     padding: 0px;
//     list-style-type: none;
//     min-height: 62px;
//     li {
//       position: relative;
//       margin: 0;
//       padding: 12px 0 0 0;
//       // border-bottom: 1px solid #ddd;
//       // opacity: 0.8;
//       // &.xlf-selected {
//       //   opacity: 1;
//       // }
//       .detail-view {
//         // margin: 6px 20px 0;
//         &:last-child {
//           // margin-bottom: 6px;
//         }
//       }
//       &:first-child {
//         // padding-top: 6px;
//       }
//       &:last-child {
//         // border-bottom: 0 none;
//       }
//       &.editor-message.empty {
//         text-align: center;
//         color: #888;
//         padding: 12px;
//       }
//     }
//     a.delete-row {
//       text-decoration: none;
//       position: absolute;
//       top: 12px;
//       right: 6px;
//       font-size: 20px;
//       line-height: 18px;
//       color: #999;
//       cursor: pointer;
//       display: block;
//       padding: 3px 8px 6px;
//       &:hover {
//         color: #444;
//       }
//     }
//   }
//   .underline {
//     text-decoration: underline;
//   }
// }
// .xlf-row-view {

// }
// .expanding-spacer-between-rows {
//   position: relative;
//   margin: 0;
//   .add-row-btn {
//     background-color: #fff;
//     color: #888;
//     font-size: 11px;
//     width: 360px;
//     z-index: 99;
//     position: absolute;
//     left: 50%;
//     margin-left: -180px;
//     height: 16px;
//     line-height: 13px;
//     top: 6px;

//     &:hover, &.hovered {
//       color: #888;
//       background-color: #fff;
//       height: 18px;
//       top: 5px;
//       line-height: 16px;
//       font-weight: bold;
//     }
//   }
//   .line {
//     margin-top: 14px;
//     height: 0;
//     border: 1px solid #ccc;
//     border-width: 1px 0 0 0;
//     z-index: 1;
//     &.expanded {
//       border-width: 1px 0;
//       height: inherit;
//     }
//   }
//   .menu-row {
//     float: left;
//     position: relative;
//     min-height: 1px;
//     padding-left: 15px;
//     padding-right: 15px;
//     box-sizing: border-box;
//     width: 94px;
//   }
//   .menu-item {
//     height: 65px;
//     line-height: 65px;
//     text-align: center;
//     font-size: 11px;
//     cursor: pointer;
//     opacity: 0.7;
//     color: transparent;
//     background-size: 63px 63px;
//     border-radius: 4px;

//     &:hover {
//       opacity: 0.9;
//       background-color: #bbb;
//     }
//     &.menu-item-text {
//       background-image: url('/static/xlform-builder/source/images/type-icons/text.png');
//     }
//     &.menu-item-audio {
//       background-image: url('/static/xlform-builder/source/images/type-icons/audio.png');
//     }
//     &.menu-item-barcode {
//       background-image: url('/static/xlform-builder/source/images/type-icons/barcode.png');
//     }
//     &.menu-item-datetime {
//       background-image: url('/static/xlform-builder/source/images/type-icons/datetime.png');
//     }
//     &.menu-item-date {
//       background-image: url('/static/xlform-builder/source/images/type-icons/date.png');
//     }
//     &.menu-item-decimal {
//       background-image: url('/static/xlform-builder/source/images/type-icons/decimal.png');
//     }
//     &.menu-item-geopoint {
//       background-image: url('/static/xlform-builder/source/images/type-icons/geopoint.png');
//     }
//     &.menu-item-integer {
//       background-image: url('/static/xlform-builder/source/images/type-icons/integer.png');
//     }
//     &.menu-item-note {
//       background-image: url('/static/xlform-builder/source/images/type-icons/note.png');
//     }
//     &.menu-item-video {
//       background-image: url('/static/xlform-builder/source/images/type-icons/video.png');
//     }
//     &.menu-item-image {
//       background-image: url('/static/xlform-builder/source/images/type-icons/image.png');
//     }
//     &.menu-item-select_multiple {
//       background-image: url('/static/xlform-builder/source/images/type-icons/select.png');
//       &:after {
//         content: "select multiple";
//       }
//     }
//     &.menu-item-select_one {
//       background-image: url('/static/xlform-builder/source/images/type-icons/select.png');
//       &:after {
//         content: "select multiple";
//       }
//     }
//   }
// }
// .sortable-active {
//   background-color: #fafafa;
//   border: 1px solid #bbb;
//   .expanding-spacer-between-rows {
//     display: none;
//   }
// }

// #test-wrap {
//   background-color: #fff;
// }

// div.trailing-buttons {
//   text-align: right;
//   padding: 0 28px;
//   margin: 0;
//   button {
//     &.attached {
//       // border-radius: 0 0 6px 6px;
//       padding-top: 12px;
//     }
//     padding: 5px 12px;
//     // border-radius: 1px;
//     font-size: 14px;
//     color: #444;
//   }
// }

// .type-icon {
//   height: 40px;
//   width: 40px;
//   background-size: 40px 40px;
//   opacity: 0.4;
//   &.rt-text {
//     background-image: url('/static/xlform-builder/source/images/type-icons/text.png');
//   }
//   &.rt-audio {
//     background-image: url('/static/xlform-builder/source/images/type-icons/audio.png');
//   }
//   &.rt-barcode {
//     background-image: url('/static/xlform-builder/source/images/type-icons/barcode.png');
//   }
//   &.rt-datetime {
//     background-image: url('/static/xlform-builder/source/images/type-icons/datetime.png');
//   }
//   &.rt-date {
//     background-image: url('/static/xlform-builder/source/images/type-icons/date.png');
//   }
//   &.rt-decimal {
//     background-image: url('/static/xlform-builder/source/images/type-icons/decimal.png');
//   }
//   &.rt-geopoint {
//     background-image: url('/static/xlform-builder/source/images/type-icons/geopoint.png');
//   }
//   &.rt-integer {
//     background-image: url('/static/xlform-builder/source/images/type-icons/integer.png');
//   }
//   &.rt-note {
//     background-image: url('/static/xlform-builder/source/images/type-icons/note.png');
//   }
//   &.rt-video {
//     background-image: url('/static/xlform-builder/source/images/type-icons/video.png');
//   }
//   &.rt-image {
//     background-image: url('/static/xlform-builder/source/images/type-icons/image.png');
//   }
//   &.rt-select_one {
//     background-image: url('/static/xlform-builder/source/images/type-icons/select.png');
//   }
//   &.rt-select_multiple {
//     background-image: url('/static/xlform-builder/source/images/type-icons/select.png');
//   }
// }
// .formbuilder-wrap {
//   margin: 10px auto;

//   #survey-stats {
//     padding-top: 1px;
//     color: #666;
//   }


//   .edit-list-view {
//     padding: 4px 6px;
//     margin-right: 20px;
//     p {
//       margin: 0;
//     }
//   }
// }

// .list-view {
//   ul {
//     li {
//       p {
//         margin: 0;
//       }
//     }
//   }
//   button {
//     margin-top: 5px;
//     margin-bottom: 5px;
//   }
// }