// All variables are now in kobo.scss

// ==========================================================================
// General Styling
// ==========================================================================

.form-builder {

  .survey-editor__message {
    border: $cardBorderStyle;
    padding: 20px;
    background: #FFF;
    color: $wellTextColor;
    font-family: 'LatoBlack';
    font-style: italic;
    font-size: 13px;
    a {
      font-family: 'Lato';
      font-style: normal;
      text-decoration: underline;
    }
  }

  // ==========================================================================
  // Card (incl. Header and Expanded)
  // ==========================================================================

  .card {
      border-radius: 0px;
      font-family: 'LatoBlack';
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 4px;
      &.card--movable {
        cursor: move;
      }
      &.card--error {
          background-color: rgb(255, 176, 176);
      }
      .card__header {
          border: $cardBorderStyle;
          padding: 23px 40px 23px 60px;
          display: block;
          background: white;
          cursor: move;
          position: relative;
          .card__text {
              margin:auto;
              display: inline-block;
              vertical-align: middle;
              width: 99%;
              position: relative;
              &.activated {
                color: #8595A5;
              }
              .card__buttons__multioptions {
                cursor: pointer;
                vertical-align: middle;
                position: absolute;
                left:-14px;
                top:50%;
                margin-top:-8px;
                
                .fa {
                  width: 12px;
                  font-size: 15px;
                }
              }
          }
      }
  }

// multi-choice expanded
  .caret {
    &:before {
      // from fa-caret-right
      content: "\f0da";
    }
  }
  .card.card--selectquestion {
    .row__multioptions {
      display: none;
    }

    &.card--expandedchoices {
      .caret {
        &:before {
          // from fa-caret-down
          content: "\f0d7";
        }
      }
      .row__multioptions {
        display: block;
      }
      .card__text {
        color: $indicatorColor;
      }
    }
  }

// card settings
  .card {
    .advanced-details {
      display: none;
    }

    &.card--expandsettings {
      .advanced-details {
        display: block;
      }
    }
  }

  .card--selectquestion__expansion, .card__settings {
      border: $cardBorderStyle;
      border-top-width: 1px;
      padding: 23px 10px 23px 60px;
      background: white;
      margin-top:-2px;
      position: relative;
      &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #FFF;
        border-width: 8px;
        margin-left: -8px;
      }
      &:before {
        border-color: rgba(217, 221, 225, 0);
        border-bottom-color: #d9dde1;
        border-width: 9px;
        margin-left: -9px;
      }
  }

  .card--placeholder {
      background-color: transparent;
      color:#8695A5;
      border:2px solid #8695A5;
      text-align: center;
      font-family: 'LatoBlack';
      padding: 20px;
      margin:20px 0px;
  }

  .sortable-active {
    .card__header {
      border: $cardInSortBorderStyle;
      .card__header-title {
        color: $cardInSortBorderColor;
      }
    }
  }
  .card--error {
      background-color: rgb(255, 176, 176);
  }

  .card__addoptions {
    opacity: 0.4;
  }
  // ==========================================================================
  // Advanced details
  // ==========================================================================

  .advanced-details {
      position: relative;
  }

  // ==========================================================================
  // Card indicator
  // ==========================================================================

  $cardIndicatorWidth: 42px;
  $cardIndicatorIconHeight: 21px;
  $cardIndicatorIconWidth: 21px;
  
  .card__indicator {
      position: absolute;
      left: 0;
      top: 0;
      width: $cardIndicatorWidth;
      height: 100%;
      border-right: $cardBorderStyle;
  }
  .card--insort {
      .card__indicator {
          border-right: $cardInSortThinBorderStyle;
      }
  }
  .card__indicator__icon {
      position: absolute;
      top: 50%;
      margin-top: -($cardIndicatorIconHeight/2);
      left: 8px;
      width: $cardIndicatorIconHeight;
      height: $cardIndicatorIconHeight;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: $indicatorColor;
      .fa.invert {
        padding: 3px 1px;
        font-size: 0.95em;
        background-color: #8595A5;
      }
      .fa-lato-calculate, .fa-lato-decimal,
      .fa-lato-integer, .fa-lato-text {
        font-size: 15px;
        width: $cardIndicatorIconWidth;
      }
      .fa-lato-decimal {
        margin-left:2px;
      }
  }
  
  // ==========================================================================
  // Card quick buttons
  // ==========================================================================
  .card__buttons {
      border: $cardBorderStyle;
      border-width: 0 0 0 2px;
      position: absolute;
      top: 0px;
      right: 2px;
      width: 26px;
      height: 100%;
      cursor: pointer;
  }
  .card--insort {
      .card__buttons {
          border-left: $cardInSortThinBorderStyle;
      }
  }
  .card__buttons__button {
      height: 22px;
      line-height: 22px;
      width: 26px;
      position: absolute;
      right: -2px;
      bottom: 4px;
      text-align: center;
      &.gray {
        color: #858F98;
        top:0px;
      }
      &.red {
        color: #D08B8C;
        top:50%;
        margin-top:-11px;
      }
      &.blue {
        color:$linkColor;
      }
      &.gray-green {
      }
      &.activated {
        color: #646D75;
        background-color: #D9DDE1;
      }
      // Hover effect

      // &:hover {
      //   &:after {
      //       content: "Testing";
      //       height: 20px;
      //       width: 100px;
      //       top:0px;
      //       left:20px;
      //       background: pink;
      //       position: absolute;
      //       font-size:12px;
      //   }
      // }
  }

  // ==========================================================================
  // Advanced details
  // ==========================================================================


  // ==========================================================================
  // Add row button
  // ==========================================================================

  .expanding-spacer-between-rows {
      position: relative; 
      .line {
        height: 0px;
      }
  }

  .add-row-btn {
      width: 24px;
      height: 24px;
      line-height: 23px;
      border-radius: $buttonBorderRadius;
      padding:0px;
      margin-right: auto;
      margin-left: auto;
      background-color:$addButtonColor;
      // TODO: this below should be for desktop only
      position: absolute;
      left: -38px;
      top: -22px;
      &:hover {
          background-color:$addButtonColorHover;
      }
  }
  .insort {
      .add-row-btn {
          opacity: 0;
      }
  }


  // ==========================================================================
  // Add new question
  // ==========================================================================

  .row__questiontypes {
      border: $cardInSortBorderStyle;
      padding: 23px 40px 23px 60px;
      background: white;
      margin:4px 0px;
  }


  // ==========================================================================
  // Individual row details
  // ==========================================================================

  .xlf-dv-name,
  .xlf-dv-hint {
      text-transform: capitalize;
  }

  .xlf-dv-name > code,
  .xlf-dv-hint > code {
      text-transform: none;
  }

}


// ==========================================================================
// Survey Row
// (formerly .xlf-row-view)
// ==========================================================================
.survey__row {
    &.survey__row--selected {
        .card__header {
            border: $cardInSortBorderStyle;
        }
    }
}


// ==========================================================================
// Groups
// ==========================================================================

.group {
  padding: 4px 8px;
  margin: 0 0 6px;
  background-color: rgba(233, 237, 240, 0.8);
  background-color: #e9edf0;
  border: 1px solid #c3cfd8;
}

.group {
  .group__settings {
    display: none;
  }
  &.group--expanded-settings {
    .group__settings {
      display: block;
    }
  }
}

  .group__carat {
    cursor: pointer;
    color: #8595a6;
    &:before {
      content: "\f0d7";
    }
  }

.group--shrunk {
  .group__carat {
    &:before {
      content: "\f0da";
    }
  }
  .group__rows {
    height: 1px;
    margin-bottom: 4px;
    border: 1px solid #c3cfd8;
    border-width: 1px 0 0;
    .xlf-row-view {
      display: none;
    }
  }
}
  .group__header {
    border-bottom: 1px solid #ddd;
    position: relative;
    margin: -4px -8px 0;
    padding: 4px 8px;
    min-height: 50px;
  }
  .group__rows {
    margin-top: 6px;
  }
  .group__header__buttons {
    border: $cardBorderStyle;
    border-width: 0 0 0 2px;
    position: absolute;
    top: 0px;
    right: 2px;
    width: 26px;
    height: 100%;
    cursor: pointer;
  }
  .group__header__buttons__button {
    display: block;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    width: 26px;
    text-align: center;
    &.gray {
      color: #858F98;
    }
    &.red {
      color: #D08B8C;
    }
    &.activated {
      color: #646D75;
      background-color: #D9DDE1;
    }
  }

.group {
  .card, .row__questiontypes {
    margin-left: 12px;
  }
  .add-row-btn {
    left: -6px;
    width: 16px;
    font-weight: normal;
    font-size: 11px;
  }
}