/* ==========================================================================
   Info list (table rows/cells)
   ========================================================================== */

.info-list__date, .info-list__links {
    width: 200px;
}
.info-list td {
    border-bottom: 1px solid #e9ecee;
    text-align: left;
}
.info-list tr:hover td {
    background-color: #f3f5f6;
}
.info-list a {
    color: #333333;
    display: block;
}
.info-list .info-list__links a {
    width: 40px;
    display: inline-block;
    margin-right: 6px;
}

/* ==========================================================================
   Filters (form list only)
   ========================================================================== */

.filters {
    margin-bottom: 20px;
}

.filters__filter {
    margin-right: 10px;
}

