<!--
temporarily disabling this template until we fix the "global tags" problem
<a
  class="tag__create-new"
  href=""
  ng-click="enableAdd()"
  ng-show="!isAdding"
>
  + Add New Tag
</a>

<div class="tags__addnew" ng-show="isAdding">
  <input
    type="text"
    ng-model="newTagName"
    ng-show="isAdding"
    ng-keydown="addNewTag__KeyDown($event)"
    focus-on="showAddBox"
    class="tag__create-new__editbox"
    placeholder="tag name"
  />

  <i
    class="fa fa-check-circle fa-4 tags__tag__create-new--accept"
    ng-click="addNewTag()"
  ></i>

  <i
    class="fa fa-ban fa-4 tags__tag__create-new--cancel"
    ng-click="cancelAdd()"
  ></i>
</div>
-->
