<header class="forms-header">
  <div class="container">
    <h1 class="forms-header__title">Form Drafts</h1>
    <div class="forms__addform-wrapper">
      <button class="forms-header__button" ng-click="toggleAddFormDropdown()"><i class="fa fa-spin fa-spinner" ng-show="isLoading"></i>{{ addNewMessage }}</button>
      <div class="forms__addform__drop" ng-class="{ 'forms__addform__drop--hidden': ! showAddFormDropdown }" outside-click close-method="hideAddFormDropdown()" is-showing="isShowAddFormDropdownShowing">
        <a href="#/builder/new" class="forms__addform__button forms__addform__start">Start from Scratch</a>
        <form action="/import_survey_draft" class="forms__addform__button forms__addform__xls js-import-fileupload js-import-survey">
            <span>Import Form</span>
            <input type="file" name="files">
        </form>
        <a href="#" class="forms__addform__button forms__addform__template">Start from a Template</a>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="forms-filter">
    <div class="forms-filter__search">
      <i class="fa fa-search"></i> <input class="forms-filter__searchbox" placeholder="Search forms"  ng-model="searchCriteria" />
    </div>
    <select class="forms-filter__sorter">
      <option>Sort: Newest</option>
      <option>Sort: Oldest</option>
      <option>Sort: Last Modified</option>
    </select>
  </div>
    <!-- THIS IS HERE TEMPORARILY -->
    <script type="text/javascript">
      $('select.forms-filter__sorter').select2({
        minimumResultsForSearch: -1
      });
    </script>

  <div class="info-list">
      <div class="forms__card" ng-repeat="item in items|orderBy:'-date_modified'">
        <div class="forms__card__info">
          <a class="forms__card__title" href="#{{ getHashLink(item) }}">{{ item.name }}</a>
          <div class="forms__card__description forms__card__description--error" ng-if="!!itemError(item)">
            <strong>Important Error:</strong> {{itemError(item)}}
            <br>
            &#8230; Confused? &nbsp;
            <a href="http://support.kobotoolbox.org/customer/portal/emails/new">Contact KoBoToolbox Support</a>.
          </div>
          <p class="forms__card__description">{{ item.description || '' }}</p>
          <p class="forms__card__date">
            {{item.date_modified.getMonth()+1}}/{{item.date_modified.getDate()}}/{{item.date_modified.getYear() + 1900}}
          </p>
          <p class="forms__card__question-count">
            {{ item.rowCount }}
          </p>
        </div>
        <div kobocat-form-publisher class="forms__card__kobocat" item="item" ng-show="kobocatLinkExists()">
          <div class="forms__kobocat__btn forms__kobocat__btn--publish" ng-click="open()" >Deploy as new survey project <i class="fa fa-external-link-square"></i></div>
        </div>
        <div class="forms__card__buttons">
          <!--
            <a class="forms__card__buttons__button blue" href="" ng-click="cloneSurvey(item)"><i class="fa fa-copy"></i></a>
          -->
          <a class="forms__card__buttons__button gray" href="javascript:;" ng-click="toggleDownloadFormDropdown(item)"><i class="fa fa-download"></i></a>
            <div class="forms__download__drop" ng-class="{ 'hidden': ! item.showDownloadDropdown }" outside-click close-method="hideDownloadFormDropdown(item)" is-showing="item.isShowing">
              <a href="{{ getLink(item, 'xls') }}" class="forms__download__button">XLS</a>
              <a href="{{ getLink(item, 'xml') }}" class="forms__download__button">XML</a>
            </div>

          <a class="forms__card__buttons__button red" href="" ng-click="deleteItem({item: item})"><i class="fa fa-trash-o"></i></a>
        </div>
      </div>
  </div>


</div>