<section class="question__tags">
    <ui-select
        multiple
        ng-model="tags.selected"
        theme="select2"
        style="width: 700px;"
    >
        <ui-select-match placeholder="tags">
            {{$item.label}}
        </ui-select-match>
        <ui-select-choices repeat="tag in tags.available | propsFilter: {label: $select.search}">
            <div ng-bind-html="tag.label"></div>
        </ui-select-choices>
    </ui-select>
</section>
<section class="form-builder">
</section>