<div class="questions__sidebar--short-filters">
  <label>Search tools</label> 
  <div class="question-filter__search">
    <i class="fa fa-search"></i>
    <input id="qlib-search" class="question-filter__searchbox" ng-model="filters.label" placeholder="Search questions" value="" />
  </div>

  <div class="questions__sidebar--tags-select">
    <i class="fa fa-tag fa-flip-horizontal"></i>
    <ui-select
      multiple
      ng-model="tags.selected"
      theme="select2"
    >
      <ui-select-match placeholder="All Tags">
          {{$item.label}}
      </ui-select-match>
      <ui-select-choices repeat="tag in tags.available | propsFilter: {label: $select.search} | orderBy:'label'">
          <div ng-bind-html="tag.label"></div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="questions__sidebar--container">
  <ul class="questions__sidebar--scrolling">
    <div infinite-scroll="api.list()">
        <li ng-class="item.meta.question_class" ng-repeat="item in api.items|itemFilter:filters" ng-mousedown="set_item(item)">
          <h4 class="questions__question__name">{{ item.label }}</h4>
          <a href="" ng-click="toggle_response_list(item)" ng-class="item.meta.question_type_class">
            {{item.type | titlecase}}
          </a>
        </li>
    </div>
  </ul>
</div>