<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>


        <link rel="shortcut icon" href="http://www.datosfreak.org/site_media/html/favicon.ico" type="image/x-icon"/>

        <meta name="verify-v1" content="a9EvY5CaOPJHHarzWmroHObbD6aeUtCeEnTIJhaXGIo="/>
        <title> {% block title %} Curiosidades :: Datos Freak {% endblock %} </title>
        <link rel="stylesheet" href="/site_media/css/style_nuevo.css" type="text/css"/>
        <link rel="stylesheet" href="/site_media/css/rateit.css" type="text/css"/>
        <link rel="stylesheet" href="/site_media/css/bootstrap.css" type="text/css">
        <meta name="Keywords"
              content="curiosidades de {{ dato.categoria|lower }}, datos curiosos de {{ dato.categoria|lower }}, curiosidades de {{ dato.subcategoria|lower }}, datos curiosos de {{ dato.subcategoria|lower }}">
        <meta name="Description" content="{{ dato.contenido }}"/>

        {% block javascript %}

        {% endblock %}
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-176195-6']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>


    </head>

    <body xmlns:fb="http://api.facebook.com/1.0/facebook.xsd" xmlns:g="http://www.google.com"> <!-- TODO pillar el xsd -->
        <!-- wrap starts here -->

        <!-- Subcategorias -->
        <div class="modal"></div>
        <div id="wrap">
            <!-- Subcategorias -->

            <!--header -->
            <div id="header">

                      <a class="" href="#">Hola,
                                    {% if user.is_authenticated %}
                                        {% if user.first_name %}
                                            {{ user.first_name|escape }}
                                        {% else %}
                                            {{ user.username }}
                                        {% endif %}.

                                        <a href = "/admin/logout" > no soy {{ user.username }} </a>
                                    {% else %}
                                        invitado.
                                    {% endif %}</a>

                <div id="fb-root"></div>
                <script src="http://connect.facebook.net/en_US/all.js#appId=224911830887807&amp;xfbml=1"></script>

                <h1 id="logo-text">Datos<span>freak</span></h1>
                <h2 id="slogan"><span>{{ c_total }}</span> datos curiosos y m&aacute;s
                    ({{ c_datossinfuentes }} sin fuente). Todos ellos, ingeniosamente sazonados con {{ c_comentarios }}
                    comentarios y {{ c_bonustracks }} Bonus Tracks!</h2>

            </div>


            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-data-target"
                  >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                  </button>
                  <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Categorias
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu multi-level" role="menu">
                                <li>
                                <a href="http://www.datosfreak.org">Home </a>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/categorias/seresvivos/sin/0" tabindex="-1">Seres Vivos</a>
                                <ul class="dropdown-menu" id="submenu-seresvivos" tabindex="-1">
                                    <li><a href="/categorias/seresvivos/cuerpohumano/0">CUERPO HUMANO</a></li>
                                    <li><a href="/categorias/seresvivos/aves/0">AVES</a></li>
                                    <li><a href="/categorias/seresvivos/mamiferos/0">MAMIFEROS</a></li>
                                    <li><a href="/categorias/seresvivos/plantas/0">PLANTAS</a></li>
                                    <li><a href="/categorias/seresvivos/invertebrados/0">INVERTEBRADOS</a></li>
                                    <li><a href="/categorias/seresvivos/reptiles/0">REPTILES</a></li>
                                    <li><a href="/categorias/seresvivos/peces/0">PECES</a></li>
                                    <li><a href="/categorias/seresvivos/anfibios/0">ANFIBIOS</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/categorias/etimologia/sin/0" >Etimolog&iacute;a</a>
                                <ul class="dropdown-menu" id="submenu-etimologia">
                                    <li><a href="/categorias/etimologia/depersonas/0">DE PERSONAS</a></li>
                                    <li><a href="/categorias/etimologia/dellatin/0">DEL LATIN</a></li>
                                    <li><a href="/categorias/etimologia/palabrascuriosas/0">PALABRAS CURIOSAS</a></li>
                                    <li><a href="/categorias/etimologia/delfrances/0">DEL FRANCES</a></li>
                                    <li><a href="/categorias/etimologia/origenmitologico/0">ORIGEN MITOLOGICO</a></li>
                                    <li><a href="/categorias/etimologia/origenesdiversos/0">ORIGENES DIVERSOS</a></li>
                                    <li><a href="/categorias/etimologia/delarabe/0">DEL ARABE</a></li>
                                    <li><a href="/categorias/etimologia/delgriego/0">DEL GRIEGO</a></li>
                                    <li><a href="/categorias/etimologia/delingles/0">DEL INGLES</a></li>
                                    <li><a href="/categorias/etimologia/delhebreo/0">DEL HEBREO</a></li>
                                    <li><a href="/categorias/etimologia/deljapones/0">DEL JAPONES</a></li>
                                    <li><a href="/categorias/etimologia/delitaliano/0">DEL ITALIANO</a></li>
                                    <li><a href="/categorias/etimologia/delaleman/0">DEL ALEMAN</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/categorias/anecdotario/sin/0" >Anecdotario</a>
                                <ul class="dropdown-menu" id="submenu-anecdotario">
                                    <li><a href="/categorias/anecdotario/literatos/0">LITERATOS</a></li>
                                    <li><a href="/categorias/anecdotario/cientificos/0">CIENTIFICOS</a></li>
                                    <li><a href="/categorias/anecdotario/artistas/0">ARTISTAS</a></li>
                                    <li><a href="/categorias/anecdotario/musicos/0">MUSICOS</a></li>
                                    <li><a href="/categorias/anecdotario/anonimos/0">ANONIMOS</a></li>
                                    <li><a href="/categorias/anecdotario/plebeyoscualquiera/0">PLEBEYOS CUALQUIERA</a></li>
                                    <li><a href="/categorias/anecdotario/autoridades/0">AUTORIDADES</a></li>
                                    <li><a href="/categorias/anecdotario/instituciones/0">INSTITUCIONES</a></li>
                                    <li><a href="/categorias/anecdotario/deportistas/0">DEPORTISTAS</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/categorias/conocimiento/sin/0" >Conocimiento</a>
                                <ul class="dropdown-menu" id="submenu-conocimiento">
                                    <li><a href="/categorias/conocimiento/mundofisico/0">MUNDO FISICO</a></li>
                                    <li><a href="/categorias/conocimiento/geografia/0">GEOGRAFIA</a></li>
                                    <li><a href="/categorias/conocimiento/ciencia/0">CIENCIA</a></li>
                                    <li><a href="/categorias/conocimiento/astronomia/0">ASTRONOMIA</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/categorias/diaadia/sin/0" >D&iacute;a a d&iacute;a</a>

                                <ul class="dropdown-menu" id="submenu-diaadia">
                                    <li><a href="/categorias/diaadia/objetos/0">OBJETOS</a></li>
                                    <li><a href="/categorias/diaadia/negocios/0">NEGOCIOS</a></li>
                                    <li><a href="/categorias/diaadia/comida/0">COMIDA</a></li>
                                    <li><a href="/categorias/diaadia/deportes/0">DEPORTES</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/categorias/historicos/sin/0" >Hist&oacute;ricos</a>
                                <ul class="dropdown-menu" id="submenu-historicos">
                                    <li><a href="/categorias/historicos/costumbres/0">COSTUMBRES</a></li>
                                    <li><a href="/categorias/historicos/prehistoria/0">PREHISTORIA</a></li>
                                    <li><a href="/categorias/historicos/creencias/0">CREENCIAS</a></li>
                                    <li><a href="/categorias/historicos/religiosos/0">RELIGIOSOS</a></li>
                                    <li><a href="/categorias/historicos/personajes/0">PERSONAJES</a></li>
                                    <li><a href="/categorias/historicos/autoridades/0">AUTORIDADES</a></li>
                                    <li><a href="/categorias/historicos/ciencia/0">CIENCIA</a></li>
                                    <li><a href="/categorias/historicos/literatura/0">LITERATURA</a></li>
                                    <li><a href="/categorias/historicos/arte/0">ARTE</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/categorias/paises/sin/0" >Pa&iacute;ses</a>
                                <ul class="dropdown-menu" id="submenu-paises">
                                    <li><a href="/categorias/paises/chile/0">CHILE</a></li>
                                    <li><a href="/categorias/paises/estadosunidos/0">ESTADOS UNIDOS</a></li>
                                    <li><a href="/categorias/paises/venezuela/0">VENEZUELA</a></li>
                                    <li><a href="/categorias/paises/uruguay/0">URUGUAY</a></li>
                                    <li><a href="/categorias/paises/argentina/0">ARGENTINA</a></li>
                                    <li><a href="/categorias/paises/paraguay/0">PARAGUAY</a></li>
                                    <li><a href="/categorias/paises/eula/0">EulA</a></li>
                                    <li><a href="/categorias/paises/italia/0">ITALIA</a></li>
                                    <li><a href="/categorias/paises/mexico/0">MEXICO</a></li>
                                    <li><a href="/categorias/paises/honduras/0">HONDURAS</a></li>
                                    <li><a href="/categorias/paises/peru/0">PERU</a></li>
                                    <li><a href="/categorias/paises/bolivia/0">BOLIVIA</a></li>
                                    <li><a href="/categorias/paises/colombia/0">COLOMBIA</a></li>
                                    <li><a href="/categorias/paises/ecuador/0">ECUADOR</a></li>
                                    <li><a href="/categorias/paises/cuba/0">CUBA</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/categorias/cultura/sin/0" >Cultura</a>
                                <ul class="dropdown-menu" id="submenu-cultura">
                                    <li><a href="/categorias/cultura/literatura/0">LITERATURA</a></li>
                                    <li><a href="/categorias/cultura/musica/0">MUSICA</a></li>
                                    <li><a href="/categorias/cultura/comunicaciones/0">COMUNICACIONES</a></li>
                                    <li><a href="/categorias/cultura/cine/0">CINE</a></li>
                                    <li><a href="/categorias/cultura/costumbres/0">COSTUMBRES</a></li>
                                    <li><a href="/categorias/cultura/dibujosanimados/0">DIBUJOSANIMADOS</a></li>
                                    <li><a href="/categorias/cultura/espectaculos/0">ESPECTACULOS</a></li>
                                    <li><a href="/categorias/cultura/politica/0">POLITICA</a></li>
                                </ul>
                            </li>
                            </ul>
                        </li>
                        </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input class="form-control" type="text" name="palabra" id="palabra" value=""/>
                </div>
                    <input class="btn btn-default" id="buscar" type="submit" name="Submit" value="Buscar"/>
            </form>
            </div>


                  <div class="collapse navbar-collapse" id="bs-data-target">



                    <ul class="nav navbar-nav">


                            <li class="responsive-large"><a href="http://twitter.com/DatosFreak" rel="nofollow" class="no-margin"><img src = "http://www.datosfreak.org/site_media/images/twitter_logo.png" ></a></li>
                            <li class="responsive-large"><a href = "http://www.facebook.com/DatosFreak" rel = "nofollow" class="no-margin"><img src = "http://www.datosfreak.org/site_media/images/facebook_logo.png" ></a></li>

                            <li class="responsive-large"><a href="http://www.pinterest.com/datosfreak" rel="nofollow"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a></li>

                            <li class="responsive-large"><a href="/site_media/html/about.html">Acerca de</a></li>
                            <li class="responsive-large"><a data-toggle="collapse" data-target=".nav-collapse" href="/datos/aportar">Aportar</a></li>

                            {% if not user.is_authenticated %}
                                <li class=""><a href="/datos/accounts/register/">Registrarse </a></li>
                                <li class=""><a href="/datos/accounts/login/">Login</a></li>
                           {% endif %}
                    </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
                            <!-- content-wrap starts here -->

                <div id="main">
                    <div></div>
                    {% block mensaje %}

                    {% endblock %}

                    {% block main_content %}


                    {% endblock %}

                </div>



            <!-- content-wrap ends here -->
            </div>

            <!--footer starts here-->
            <div id="footer">

                <p>
                    &copy; 2012 <strong>Datos Freak  </strong>
                    |&nbsp;&nbsp;<a href="/">Home</a>&nbsp;
                    | Contacta a los editores: <img src="http://www.datosfreak.org/site_media/html/mail.png"  />
                </p>
                <p style="display:none;">
                    <script type="text/javascript">
                        google_ad_client = "ca-pub-2930368923917080";
                        /* DF - Home Fondo */
                        google_ad_slot = "5152458495";
                        google_ad_width = 728;
                        google_ad_height = 90;
                    </script>
                    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                </p>
            </div>

    <!-- wrap ends here -->


        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-176195-6']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

        <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
        <script type="text/javascript">
            window.___gcfg = {lang: 'es-419'};

            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/site_media/js/jquery.rateit.js"></script>
        <script src="/site_media/js/absurd.js"></script>
        <script src="/site_media/js/infinite-scroll.js"></script>
        <script src="/site_media/js/main.js"></script>
        <script src="/site_media/js/router.js"></script>
        <script src="/site_media/js/jquery.sticky.js"></script>
        <script src="/site_media/js/bootstrap.min.js"></script>
        <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
        <div id="nav"><a href="/datos/1"></a></div>
    </body>
</html>

