<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% load compress %}
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kobo Prototype &middot; {% block title %}Forms{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {% compress css %}
      <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endcompress %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-resource.js"></script>
    <script src="{% static 'xlform-builder/source/javascripts/lib/jquery.editinplace.js' %}"></script>
    <script src="{% static 'xlform-builder/source/javascripts/lib/jquery-ui-1.10.3.custom.js' %}"></script>

    {% compress js %}
      <script type="text/coffeescript" src="{% static 'js/log.coffee' %}"></script>
      <script type="text/coffeescript" src="{% static 'js/csv.coffee' %}"></script>
    {% endcompress %}
    {% block foot %}{% endblock %}
  </body>
</html>