!!!
%html
  %head
    %title
      -block title
        kobo
    %meta{'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8'}/
    %script{src: "/static/js/modernizr.js", charset: 'utf-8', type: 'text/javascript'}
    -block head
    -load compress
    -compress css
      %link{rel: 'stylesheet', type: 'text/less', href:'/static/css/site.less'}/
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} kobo
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            {% for link in active_links %}
              %li{:class => '{{link.classes}}'}
                %a{:href => '{{link.href}}'}= link.text
            {% endfor %}
    -block content
      .container
        %p This page is empty.
    .container
      %footer
        -block footer
          %p
            &copy; 2013 .
            %a{href: 'http://kobotoolbox.org/'} kobo
    -compress js
      %script{src: "/static/js/jquery-1.10.2.js", charset: 'utf-8', type: 'text/javascript'}
      %script{src: "/static/js/underscore.js", charset: 'utf-8', type: 'text/javascript'}
      %script{src: "/static/xlform-builder/source/javascripts/lib/backbone.js", charset: 'utf-8', type: 'text/javascript'}
    -block foot