<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% load compress %}
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>KoBoForm</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{csrf_token}}">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.10.4.custom.css' %}">
    <link rel="stylesheet" href="{% static 'components/fontawesome/css/font-awesome.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'kobo.compiled/kobo.css' %}" media="all">
    {% endcompress %}

    <script src="{% static 'kobo.compiled/modernizr.js' %}"></script>

    {% if DEBUG %}
    <script src="{% static 'components/jquery/dist/jquery.js' %}"></script>
    {% else %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% endif %}

    {% compress js %}
      <script src="{% static 'components/jquery-migrate/jquery-migrate.js' %}"></script>
      <script src="{% static 'components/underscore/underscore.js' %}"></script>
      <script src="{% static 'components/backbone/backbone.js' %}"></script>
      <script src="{% static 'js/jquery.poshytip.js' %}"></script>
      <script src="{% static 'components/x-editable/dist/jquery-editable/js/jquery-editable-poshytip.js' %}"></script>
    {% endcompress %}

    {% if DEBUG %}
    <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}

    <script type="text/javascript" charset="utf-8">
    window.staticFilesUri = "{% static 'kobo/' %}";
    </script>
    <script type="text/javascript">
      window.userDetails = {{user_details|safe}};
      $.fn.editable.defaults.mode = 'inline';
      $.fn.editable.defaults.onblur = 'submit';
      $.fn.editable.defaults.showbuttons = false;
    </script>

    {% compress js %}
      <script src="{% static 'js/log.coffee' %}" type="text/coffeescript"></script>
      <script src="{% static 'components/angular/angular.js' %}"></script>
      <script src="{% static 'components/angular-cookies/angular-cookies.js' %}"></script>
      <script src="{% static 'components/angular-mocks/angular-mocks.js' %}"></script>
      <script src="{% static 'components/angular-resource/angular-resource.js' %}"></script>
      <script src="{% static 'components/angular-route/angular-route.js' %}"></script>

      <script src="{% static 'js/select2.min.js' %}"></script>
      <script src="{% static 'components/jquery.scrollTo/jquery.scrollTo.js' %}"></script>
      <script src="{% static 'js/Backbone.Validation.js' %}"></script>
    {% endcompress %}
      <script src="{% static 'kobo/controllers/Builder.Controller.js' %}"></script>
      <script src="{% static 'kobo/controllers/PreBuilder.Controller.js' %}"></script>
      <script src="{% static 'kobo/controllers/Header.Controller.js' %}"></script>
      <script src="{% static 'kobo/controllers/Forms.Controller.js' %}"></script>
      <script src="{% static 'kobo/controllers/Assets.Controller.js' %}"></script>
      <script src="{% static 'kobo/controllers/AssetEditor.Controller.js' %}"></script>
      <script src="{% static 'kobo/controllers/Import.Controller.js' %}"></script>
      <script src="{% static 'kobo/directives/Builder.Directive.js' %}"></script>
      <script src="{% static 'kobo/directives/QuestionLibrary.Directive.js' %}"></script>
      <script src="{% static 'kobo/directives/TopLevelMenu.Directive.js' %}"></script>
      <script src="{% static 'kobo/directives/InfoList.Directive.js' %}"></script>
      <script src="{% static 'kobo/factories/UserDetails.Factory.js' %}"></script>
      <script src="{% static 'kobo/factories/restApi.Factory.js' %}"></script>
      <script src="{% static 'kobo/filters/Titlecase.Filter.js' %}"></script>
      <script src="{% static 'kobo/services/RouteTo.Service.js' %}"></script>
      <script src="{% static 'kobo/services/MiscUtils.Service.js' %}"></script>
      <script src="{% static 'kobo/services/Configuration.Service.js' %}"></script>
    {% compress js %}
      <script src="{% static 'js/modal.js' %}"></script>
      <script src="{% static 'js/jquery-ui-1.10.4.custom.js' %}"></script>

      {# ---------------------- File Upload --------------------------- #}
      <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
      <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
      <script src="{% static 'js/jquery.fileupload.js' %}"></script>
      <script src="{% static 'js/jquery.fileupload-angular.js' %}"></script>
      {# -------------------------------------------------------------- #}

    {% endcompress %}

    <script src="{% static 'kobo.compiled/dkobo_xlform.js' %}"></script>
    <script src="{% static 'kobo/app.js' %}"></script>


  </head>

  <body ng-app="dkobo">
  {%verbatim %}

    <section top-level-menu class="top-level-menu" active-tab="activeTab" ng-class="topLevelMenuActive"></section>
    <main class="main">
      <header class="header-bar" ng-controller="HeaderController">
        <div class="container__wide">
          <span class="header-bar__top-level-menu-button">
            <i class="fa fa-bars fa-lg fa-inverse" ng-click="toggleTopMenu()"></i>
          </span>
          <h1 class="header-bar__title">
            <a href="#/{{icon_link}}">
              <span class="header-bar__title-text">{{ activeTab }}</span>
            </a>
          </h1>
            <span class="loader" ng-show="isLoading">
    {% endverbatim %}
              <img src="{% static 'img/ajax-loader.gif' %}" class="ajax-loader__image" />
    {% verbatim %}
              Your Form is Being Imported
            </span>
            <span class="header-bar__top-logo pull-right"></span>
  <!--           <a href="#/builder" ng-show="showCreateButton" class="btn--header-create-new btn  btn--s  pull-right">Create New A</a>
            <form action="/import_survey_draft" class="btn--fileupload js-import-fileupload pull-right">
              <span ng-show="showImportButton" class="btn btn--s btn-success fileinput-button">
                <span>Import form</span>
                <input type="file" name="files">
              </span>
            </form>
   -->
        </div>
      </header>

      <section ng-view class="content" ng-class="additionalClasses"></section>
      <div class="alert-modal"></div>
    </main>

  {% endverbatim %}
  </body>
</html>