<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% load compress %}
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kobo Prototype &middot; Forms</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf_token" content="{{csrf_token}}">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>

    {% compress css %}
      <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" type="text/x-scss" href="{% static 'css/xlformbuilder-styles.scss' %}">
    {% endcompress %}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.0/modernizr.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

    <script src="//cdn.jsdelivr.net/poshytip/1.1/jquery.poshytip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-resource.js"></script>

    <script type="text/javascript">
      window.staticFilesUri = "{% static '' %}";
      $.fn.editable.defaults.mode = 'inline';
      $.fn.editable.defaults.onblur = 'submit';
    </script>
    <script type="text/javascript">
      window.userDetails = {{user_details|safe}};
    </script>
    {% compress js %}
      <script src="{% static 'js/controllers/Builder.Controller.js' %}"></script>
      <script src="{% static 'js/controllers/Header.Controller.js' %}"></script>
      <script src="{% static 'js/controllers/Forms.Controller.js' %}"></script>
      <script src="{% static 'js/controllers/Assets.Controller.js' %}"></script>
      <script src="{% static 'js/controllers/Import.Controller.js' %}"></script>
      <script src="{% static 'js/directives/Builder.Directive.js' %}"></script>
      <script src="{% static 'js/directives/TopLevelMenu.Directive.js' %}"></script>
      <script src="{% static 'js/directives/InfoList.Directive.js' %}"></script>
      <script src="{% static 'js/factories/UserDetails.Factory.js' %}"></script>
      <script src="{% static 'js/factories/restApi.Factory.js' %}"></script>
      <script src="{% static 'js/services/RouteTo.Service.js' %}"></script>
      <script src="{% static 'js/services/Configuration.Service.js' %}"></script>
      <script src="{% static 'xlform-builder/source/javascripts/lib/jquery-ui-1.10.3.custom.js' %}"></script>
      <script src="{% static 'xlform-builder/source/javascripts/lib/jquery.editinplace.js' %}"></script>
      <script type="text/coffeescript" src="{% static 'xlform-builder/source/javascripts/lib/csv.coffee' %}"></script>
      <script type="text/coffeescript" src="{% static 'js/xlform/model_xlform.coffee' %}"></script>
      <script type="text/coffeescript" src="{% static 'js/xlform/view_xlformbuilder.coffee' %}"></script>
      <script type="text/coffeescript" src="{% static 'js/xlform/view_detail_mixins.coffee' %}"></script>
      <script type="text/coffeescript" src="{% static 'js/xlform/view.utils.coffee' %}"></script>
      <script type="text/coffeescript" src="{% static 'js/xlform/view.templates.coffee' %}"></script>
      <script src="{% static 'js/load.js' %}"></script>
    {% endcompress %}
  </head>

  <body ng-app="dkobo">
  {%verbatim %}

    <section top-level-menu class="top-level-menu" active-tab="activeTab" ng-class="topLevelMenuActive"></section>
    <main class="main">
      <header class="header-bar" ng-controller="HeaderController">
        <span class="header-bar__top-level-menu-button">
          <i class="fa  fa-bars  fa-lg  fa-inverse" ng-click="toggleTopMenu()"></i>
        </span>
        <span class="header-bar__page-icon-stack  fa-stack  fa-lg">
          <i class="header-bar__page-icon-circle  fa  fa-circle  fa-stack-2x  icon--{{ pageIconColor }}"></i>
          <i class="header-bar__page-icon  fa  {{ pageIcon }}  fa-stack-1x  fa-inverse"></i>
        </span>
          <h1 class="header-bar__title">{{ activeTab }}</h1>
          <a href="#/builder" ng-show="canAddNew" class="btn--header-create-new btn  btn--s  pull-right">Create New</a>
      </header>

      <section ng-view class="content" ng-class="additionalClasses"></section>
    </main>

  {% endverbatim %}
  </body>
</html>