{% extends "base.html" %}
{% block title %}Jasmine Spec{% endblock %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'js/sut/jasmine/jasmine.css' %}" />
  <script type="text/javascript" src="{% static 'js/sut/jasmine/jasmine.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sut/jasmine/jasmine-html.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sut/jasmine/boot.js' %}"></script>

{% endblock %}
{% block foot %}
  <div id="sandbox"></div>

  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
  <script src="//cdn.jsdelivr.net/poshytip/1.1/jquery.poshytip.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"></script>

  {% load compress %}
  {% compress js %}
    {% include 'xlform_scripts.html' %}
  {% endcompress %}
    <script type="text/xlform" id="mysurvey"></script>
    <script>
      var $sandbox = $('#sandbox'),
          i,
          survey = new XLF.Survey(),
          skip_logic_builder;

      for (i = 0; i < 6; i++) {
        survey.addRow({ name: i, label: 'label' + i });
      }

      skip_logic_builder = new XLF.SkipLogicBuilder(new XLF.Model.SkipLogicFactory(), new XLF.Views.SkipLogicViewFactory, survey, survey.rows.models[4]);

      skip_logic_builder.build();


    </script>
{% endblock %}