{% extends "base.html" %}
{% block title %}Jasmine Spec{% endblock %}
{% load staticfiles %}
{% load compress %}
{% block head %}
  <link rel="stylesheet" href="{% static 'js/sut/jasmine/jasmine.css' %}" />
  <script type="text/javascript" src="{% static 'js/sut/jasmine/jasmine.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sut/jasmine/jasmine-html.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sut/jasmine/boot.js' %}"></script>

  <link rel="stylesheet" href="{% static 'kobo.compiled/kobo.css' %}">

{% endblock %}
{% block foot %}
  <div id="sandbox"></div>

  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
  <script src="//cdn.jsdelivr.net/poshytip/1.1/jquery.poshytip.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"></script>

  {% compress js %}
    {% if include_coffeefile %}
      <script src="{% static include_coffeefile %}" type="text/coffeescript"></script>
    {% endif %}
  {% endcompress %}
  <script type="text/javascript" charset="utf-8">
  sandbox('#sandbox');
  </script>

{% endblock %}