-extends 'base.html'

-block content
  .jumbotron
    .container
      %h1
        kobo form demo
  #home.container
  	%p
      %button#new-survey New survey
    #builder &nbsp;

-load compress
-block head
  -compress css
    %link{rel: 'stylesheet', type: 'text/less', href:'/static/css/xlformbuilder-styles.less'}/

-block foot
  -compress js
    %script{src: "/static/xlform-builder/source/javascripts/lib/jquery.editinplace.js", charset: 'utf-8', type: 'text/javascript'}
    %script{src: "/static/xlform-builder/source/javascripts/lib/jquery-ui-1.10.3.custom.js", charset: 'utf-8', type: 'text/javascript'}
    %script{src: "/static/xlform-builder/source/javascripts/lib/csv.coffee", charset: 'utf-8', type: 'text/coffeescript'}

    %script{src: "/static/xlform-builder/source/javascripts/src/model_xlform.coffee", charset: 'utf-8', type: 'text/coffeescript'}
    %script{src: "/static/xlform-builder/source/javascripts/src/view_xlformbuilder.coffee", charset: 'utf-8', type: 'text/coffeescript'}
    %script{src: "/static/xlform-builder/source/javascripts/src/view_detail_mixins.coffee", charset: 'utf-8', type: 'text/coffeescript'}
    %script{src: "/static/js/kobo_form_demo.coffee", charset: 'utf-8', type: 'text/coffeescript'}

