{% extends "base.html" %}

{%block head %}
  {% load staticfiles %}

    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/validator.js' %}"></script>
    <link rel="stylesheet" href="{% static 'kobo.compiled/kobo.css' %}" />
{% endblock %}

{% block content %}
  <div class="registration__bg">
    {% block inner_content %}{% endblock %}
    <div class="registration__credit"><a href="https://flic.kr/p/9v4mC5" title="Muhkjar refugee camp" target="_blank">Photo</a> by UNAMID / <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/" target="_blank">by-nc-nd</a></div>
  </div>
{% endblock %}