<!doctype html>

<html>
	<head>
        {% csrf_token %}
		<title>Sandbox</title>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/static/js/csrf.js"></script>

		<script type="text/javascript">
            var csvForm = "\"survey\",,,,,\n,\"name\",\"type\",\"label\",\"hint\",\"required\"\n,\"gps\",\"geopoint\",\"Record your current location\",,\"false\"\n,\"start\",\"start\",,,\n,\"end\",\"end\",,,\n\"settings\",\n,\"form_title\"\n,\"New survey\"";

			$(function () {
				$.post('csv', csvForm).done(function (response) {
				    $('pre').text(response);
				});
			});
		</script>
		
	</head>
	<body>
		<form>
			<input type="button" id="send-csv-btn" />
		</form>
        <pre></pre>
	</body>
</html>