<!doctype html>

<html>
	<head>
		<title>Sandbox</title>
      	<link rel="stylesheet" href="../../static/css/select2.css">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	    <script src="../../static/js/select2.min.js"></script>
		<script type="text/javascript">
            $(function () {
            	$('select').select2();
			});
		</script>
	</head>
	<body>
		<form>
			<select>
				<option> opt 1 </option>
				<option> opt 2 </option>
				<option> opt 3 </option>
			</select>
		</form>
        <pre></pre>
	</body>
</html>