{% load staticfiles %}
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.init.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.base.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.aliases.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.configs.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.survey.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.choices.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.group.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.row.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.rowDetail.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.rowDetailMixins.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.rowDetails.skipLogic.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.validation.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.model.utils.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.surveyApp.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.surveyApp.templates.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.surveyDetails.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.surveyDetails.templates.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.row.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.row.templates.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.rowSelector.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.rowSelector.templates.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.rowDetail.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.rowDetail.templates.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.choices.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.choices.templates.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.icons.coffee' %}"></script>
<script type="text/coffeescript" src="{% static 'js/xlform/XLF.view.utils.coffee' %}"></script>
<script src="{% static 'js/xlform/validator.backbone.adapters.js' %}"></script>
<script src="{% static 'js/xlform/validator.js' %}"></script>
