// ==========================================================================
// Groups
// ==========================================================================

.group {
    padding: 4px 8px;
    margin: 0 0 6px;
    background-color: rgba(233, 237, 240, 0.8);
    background-color: #e9edf0;
    border: 1px solid #c3cfd8;

    // make space for the .btn--addrow on the left
    .card, .row__questiontypes {
        margin-left: 12px;
    }

    > .card__settings {
        background-color: transparent;
        &:after {
            border-bottom-color: #E9EDF0;
        }
        &:before {
            border-width: 11px;
            margin-left: -11px;
        }
    }
}

.group__name {
    font-weight: 600;
}

.group__header {
    border-bottom: 1px solid #ddd;
    position: relative;
    margin: -4px -8px 0;
    padding: 4px 8px;
    min-height: 50px;
}

.group__rows {
    margin-top: 6px;
}

.group__header__buttons {
    border: $cardBorderStyle;
    border-width: 0 0 0 2px;
    position: absolute;
    top: 0px;
    right: 2px;
    width: 26px;
    height: 100%;
    cursor: pointer;
}

.group__header__buttons__button {
    display: block;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    width: 26px;
    text-align: center;

    &.gray {
        color: #858F98;
    }
    &.red {
        color: #D08B8C;
    }
    &.activated {
        color: #646D75;
        background-color: #D9DDE1;
    }
}




// Overrides
// --------------------------------------------------------------------------

.group {
    // .group__settings displayed only in .group--expanded-settings
    > .card__settings {
        display: none;
    }
    &.group--expanded-settings {
        > .card__settings {
            display: block;
        }
        > .group__header > .group__header__buttons > .group__header__buttons__button--settings {
            @extend %activated-card-button;
        }
    }
}

// when inside .group--shrunk, .group__caret is displayed differently
// when inside .group--shrunk, .group__rows is smaller, .survey__rows are hidden
.group__caret {
    cursor: pointer;
    color: #8595a6;
    @extend %caret-down;
}
.group--shrunk {
    .group__caret {
        @extend %caret-right;
    }
    .group__rows {
        height: 1px;
        margin-bottom: 4px;
        border: 1px solid #c3cfd8;
        border-width: 1px 0 0;
    }
    .survey__row {
        display: none;
    }
}
