// ==========================================================================
// Survey header
// ==========================================================================

.survey-header {
    margin-bottom: 30px;
    background-color: white;
    padding:20px 0px;
    padding-top: 70px;
}

.survey-header__title,
.survey-header__hashtag {
    margin-top: 0;
}

//== h1.survey-header__title
.survey-header__title {
    input {
        font-size: 32px;
        min-height: 38px;
        padding:0px;
        border:none;
        font-weight: 600;
    }
}

.survey-header__hashtag {
    font-size: 14px;
    color: #aaa;
}