// ==========================================================================
// Survey header
// ==========================================================================

.survey-header {
    margin-bottom: 30px;
    background-color: white;
    padding:20px 0px;
    padding-top: 70px;
}

.survey-header__title,
.survey-header__hashtag {
    margin-top: 0;
}

//== h1.survey-header__title
.survey-header__title {
    .editable-container {
        width: 90%; // TEMPORARY
        display: inline-block;
        .editable-input input {
            font-size: 32px;
        }
    }
}

.survey-header__hashtag {
    font-size: 14px;
    color: #aaa;
}

.survey-header__options-toggle {
    position: relative;
    top: -2px;
    font-size: 24px;
    cursor: pointer;
    color: #bbb;

    &:hover,
    &:focus {
        color: #777;
    }
}

.survey-header__options {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.survey-header__option {
    margin-right: 20px;
    display: inline-block;
    font-size: 13px;
}

.survey-header__options-table-title {
    margin-top: 0;
}

.survey-header__options-table {
    margin-bottom: 50px;
    font-size: 13px;

    tr {
        height: 65px;
    }

    tr:nth-of-type(2n) {
        background-color: rgba(255, 255, 255, 0.5);
    }

    td {
        padding-right: 10px;
        padding-left: 10px;
    }

    td:first-child {
        width: 140px;
    }

    td:nth-child(2) {
        width: 200px;
    }

    .editable-buttons {
        display: none;
    }
}
